/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
    position: absolute;
    width: 100%;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
    width:33px;height:33px;
    background:transparent url(images/button.png) no-repeat left top;
    display:none;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {background-position:-40px 0;}
.owl-theme .owl-controls .owl-buttons div.owl-prev {}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	margin: 3px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fdc1c6;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background-color: #f882a2;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: 16px;
	width: 16px;
	font-size: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    text-indent:-9999px;
}

/* preloading images */
.owl-item.loading{
	min-height: 108px;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;-webkit-transform:translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{overflow:visible; background:#fff;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#fff;}
        #cboxLoadingGraphic{background:url(images/colorbox/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(images/colorbox/controls.png) no-repeat 0 0;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
* { margin: 0; padding: 0; }
body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font: 14px/18px Arial, Helvetica, sans-serif; color: #838383; outline: none;}
img { border: 0; }
a { text-decoration:none;}
ul, ol {list-style:none; }
.clr { clear: both; }
.hide { display: none; }
.wrapper {width:100%;margin:0 auto;max-width:640px;}
.fl { float: left; }
.fr { float: right; }
.ml5 {margin-left:5px;}
.mt49 {margin-top:49px;}

.btn {display:block;width:250px;margin:auto;text-align:center;height:40px;line-height:42px;text-transform:uppercase;font-size:13px;background-color:#f3447f;color:#fff;}
.btn1 {display:block;width:296px !important;margin:auto;text-align:center;height:50px;line-height:52px;border:2px solid #f3447f;color:#f3447f;background-color:#fff;font-size:21px;text-transform:uppercase;border-radius:10px;}

.message {padding:20px;font-size:22px;text-align:center;text-transform:uppercase;}
.fixed {position:fixed;left:0;top:0;z-index:-1;right:0;margin:auto;}
.hidden {overflow:hidden;}

.button {display:inline-block;color:#fff;font-size:18px;background-color:#f3447f;border-radius:10px;padding:5px;}
.button>b {display:block;text-align:center;text-transform:uppercase;font-weight: normal;padding:10px 0 8px 0;border:1px dashed #fff;border-radius:10px;color:#fff !important}
.button.disable {background-color:#ccc;}

.header {height:60px;background-color:#fff;position:fixed;top:0;z-index:9999;left:0;right:0;border-bottom:1px solid #ccc;}
.header>a {height:60px;width:66px;background-color:#f3447f;position:absolute;right:0;top:0;}
.header>a>b {display:block;width:40%;height:3px;background-color:#fff;margin:0 auto 3px auto;}
.header>a>b:first-child {margin-top:22px;}
.header .hd-logo {padding-left:10px;}
.header .hd-logo img {height:40px;display:block;margin-top:4px;}
.header nav {max-height:300px;overflow-y:scroll;display:none;margin-top:17px;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;-ms-scroll-chaining:chained;}
.header nav>ul {display:block;background-color:#3E3E3E;padding-bottom:20px;}
.header nav>ul>li {padding:0 15px;position:relative;z-index:9999;}
.header nav>ul>li a>b {position:absolute;width:48px;height:48px;background:transparent url(images/plus.png) no-repeat center center;right:0;top:0;z-index:100;background-size:16px 16px;}
.header nav>ul>li.active a>b {background-image:url(images/minus.png);background-size:16px 16px;}
.header nav>ul>li.active {background-color:#313131;}
.header nav>ul>li:hover>a, .header nav>ul>li.active>a {color:#fff;}
.header nav>ul>li>a {display:block;height:48px;line-height:50px;text-transform: uppercase;color:#fff;font-size:13px;position:relative;}
.header nav>ul>li ul {display:none;}
.header nav>ul>li.active ul {display:block;}
.header nav>ul>li>ul li {position:relative;border-top: 1px solid #fff;list-style:disc;margin-left:25px;color:#fff;}
.header nav>ul>li>ul li:hover>a {color:#faeb5b;}
.header nav>ul>li>ul>li a {white-space: nowrap;color: #fff;padding: 10px 20px 10px 0;display: block;font-size: 13px;}

.h1 {position:fixed;left:0;right:0;top:43px;margin:auto;z-index:99999;}
.h1 h1 {font-size:11px;padding-left:10px;}
.h1 h1 a {font-size:11px;}

.bread-crumb {padding:7px 0 5px 0;overflow: hidden;background-color:#f3eeea;margin-top:61px;}
.bread-crumb .rf, .bread-crumb .rff {color:#f3447f;position:relative;}
.bread-crumb .rf {margin-right:5px;}
.bread-crumb .rf:after {content:"»";position:absolute;right:0;top:-1px;}
.bread-crumb .rff a {color:#f3447f;}
.bread-crumb h2, .bread-crumb h1 {float:left;background:none;padding-right:12px;font-weight:normal;}
.bread-crumb h2 a , .bread-crumb h1 a {color:#f3447f;white-space:nowrap;font-size:12px;}
.bread-crumb span {background:none;display:block;}
.bread-crumb h2:first-child {margin-left:5px;}

.paging {clear:both;overflow:hidden;margin:0 5px 20px 0;}
.paging .label {display:inline-block;float:left;}
ul.pages {text-align:right;}
ul.pages li {margin-right:5px;display:inline-block;}
ul.pages li:last-child {margin-right:0;}
ul.pages li a {display:inline-block;color:#333;text-decoration:none;border: 1px solid #ddd;background-color: #fff;width:28px;height:28px;line-height:28px;text-align:center;}
ul.pages li a:hover {color:#fff;background-color:#f3447f;}
ul.pages li.selected a {background-color:#f3447f;color:#fff;}

#btn-top {position:fixed;right:20px;bottom:20px;width:30px;height:30px;text-align:center;line-height:30px;border:1px solid #f3447f;border-radius:50%;cursor:pointer;background-color:#fff;color:#12a0c3;font-weight:bold;z-index:9999;}
#ajaxloading {background-color:#000;border-radius:3px;bottom:0;color:#fff;display:none;opacity:.7;padding:10px 15px;position:fixed;right: 0;z-index: 99999999;}

.title {padding:0 10px;background-color:#f3447f;color:#fff;font-size:18px;font-weight:normal;height:40px;line-height:40px;display:block;}
.title>b {font-weight:normal;text-transform:uppercase;}

.text {color:#f3447f;padding:10px 5px;display:block;line-height:1.3;}

section {overflow:hidden;}

.slider {margin-top:10px;margin-bottom:10px;width:100%;}
.slider img {max-width:100%;display:block;}

.art-list {padding:15px 1% 0 1%;overflow:hidden;}
.art-item {display:block;margin-bottom:15px;clear:both;}
.art-item.first {}
.art-item>* {display:block;}
.art-item>img {float:left;margin:0 10px 15px 0;width:230px;height:143px;}
.art-item b {color:#f3447f;margin:0 0 5px 0;font-size:18px;padding:3px 10px;line-height:1.3;font-weight:normal;}
.art-item b>i {display:inline-block;height:17px;background:transparent url(images/star.png) repeat-x left bottom;margin-left:10px;padding-top:1px;vertical-align:top;}
.art-item span {color:#606060;line-height:1.4;padding-right:10px;}

.video>a {position:relative;display:block;}
.video>a:after {content:"";position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;width:58px;height:58px;background:transparent url(images/play.png) no-repeat left top;}
.video>a>img {display:block;width:98%;margin:10px auto;height:350px;}

.picture {margin:10px 0 0 5px;padding-bottom:35px;}
.picture .item {width:310px;}
.picture .item img {width:100%;}

#owl-customer {padding-bottom:34px;margin-left:4px;}
#owl-customer .item {width:205px;}
#owl-customer .item img {width:100%;}

.customer-review {margin-top:15px;}
.customer-review>div {display:block;clear:both;padding:0 5px 15px 5px;overflow:hidden;}
.customer-review>div>img {width:80px;height:80px;border-bottom:5px solid #f3447f;border-radius:50%;margin-right:15px;float:left;}
.customer-review>div>b {color:#f3447f;}
.customer-review>div>div, .customer-review>div>div * {font-size:14px !important;line-height:1.4;font-style:normal;color:#333;}

.question-answer {padding:0 5px 20px 5px;}
.question-answer>a {min-height:48px;background:transparent url(images/qa.png) no-repeat left top;padding-left:53px;display:block;margin-top:15px;color:#444;line-height:48px;}

.cate>i {display:block;padding:5px;}

.category {padding:15px 0;}
.category>span {display:block;color:#f3447f;margin:0 0 10px 5px;font-size:19px;text-transform:uppercase;}
.category>a {display:inline-block;background:transparent url(images/arrow.png) no-repeat left 5px;padding-left:12px;width:30%;margin-bottom:10px;color:#444;font-size:13px;padding-right:1%;}
.category>i {margin:7px 0;display:block;line-height:1.5;}

.detail>h1 {text-transform:uppercase;padding:15px 5px;color:#f3447f;font-size:17px;text-align:center;}
.detail>a {display:block;width:300px;margin:10px auto;}
.detail>img {width:98%;display:block;margin:auto;}
.detail .dt-tab {display:table;width:98%;background:transparent url(images/bg-tab.png) repeat-x left top;height:44px;border-radius:5px;margin:0 1% 15px 1%;}
.detail .dt-tab>a {display:table-cell;text-align:center;padding:10px 0;background:transparent url(images/line-tab.png) no-repeat right top;vertical-align:middle;color:#333;}
.detail .dt-tab>a:first-child {border-top-left-radius:5px;border-bottom-left-radius:5px;}
.detail .dt-tab>a:last-child {background:none;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.detail .dt-tab>a:hover, .detail .dt-tab>a.active {background-color:#f3447f;color:#fff;position:relative;}
.detail .dt-tab>a:hover::before, .detail .dt-tab>a.active:before {width:100%;height:7px;background:transparent url(images/line-active.png) repeat-x center top !important;bottom:-4px;left:0;content:"";position:absolute;}

.tab {display:none;padding-bottom:15px;}
.tab>* {font-family:arial !important;color:#333;padding:0 7px;}
.tab a {color:#f3447f;display:inline-block;}
.tab p {margin-bottom:10px;line-height:1.6;font-size:15px;}
.tab img {display:block;margin:auto;max-width:100%;width:100% !important;height:auto !important;}
.tab pre {white-space:normal;line-height:1.6;margin-bottom:10px;font-size:15px;}
.tab iframe {width:100%;height:400px;display:block;margin:auto;}
.tab1 {display:block;}
.tab2 strong, .detail .tab5 strong {display:inline-block;}
.tab2 strong:first-child, .detail .tab5 strong:first-child {display:block;}
.tab2 em, .tab5 em {display:inline-block;width:30px;height:30px;background-color:#7ed258;border-radius:50%;line-height:30px;font-weight:normal;text-align:center;margin-right:5px;color:#fff;font-style:normal;}
.tab2 img {margin-top:20px;}
.tab3 em {display:block;min-height:28px;padding-left:30px;background:transparent url(images/check.png) no-repeat left 0;line-height:23px;font-weight:normal;font-style:normal;}
.tab3 img {margin-top:20px;}
.tab4, .detail .tab8 {}
.tab4>img, .detail .tab8>img {display:block;margin:84px auto 0 auto;width:32px !important;height:32px !important}
.tab5 img {margin-bottom:20px;}
.tab6 {background:transparent url(images/loader.gif) no-repeat center 170px;}
.tab8>div {}
.tab8>div>div>* {display:block;}
.tab8>div>div>b {color:#f3447f;font-size:16px;cursor:pointer;}
.tab8>div>div>div {display:none;margin-top:5px;overflow:hidden;}
.tab8>div>div>div>p {margin-bottom:0;font-size:14px;}
.tab8>div>div>div>a {display:inline-block;font-style:italic;color:#f3447f;margin-left:5px;float:right;font-size:14px;}

.detail .dt-cr {margin-top:30px;}
.detail .dt-cr>div {overflow:hidden;margin-bottom:15px;}
.detail .dt-cr>div>* {display:block;}
.detail .dt-cr>div>img {width:100px !important;height:95px !important;border-radius:50%;border-bottom:5px solid #f3447f;float:left;margin-right:20px;}
.detail .dt-cr>div>b {color:#f3447f;margin:5px 0 3px 0;font-size:16px;}
.detail .dt-cr>div>div {line-height:1.4;font-style:italic;}
.detail .dt-cr>div>div p {font-size: 14px !important;}
.detail .dt-qa>div {padding:14px 0 0 58px;background:transparent url(images/qa.png) no-repeat left 0;display:block;margin-bottom:14px;line-height:1.3;min-height:48px;}
.detail .dt-qa>div>b>a {color:#333;font-size:12px;font-weight:normal;display:inline-block;margin-left:3px;font-style:italic;}

.detail.qa .title {margin-bottom:15px;}
.detail.qa .tab8 {display:block;}

.tags {background:transparent url(images/tag.jpg) no-repeat left top;padding-left:55px;margin:12px 5px 7px 5px;}
.tags>a {display:inline-block;height:25px;line-height:26px;padding:0 15px;background-color:#f3eeea;color:#616161;font-size:13px;margin:0 3px 3px 0;}

.source {margin:0 5px 10px 5px;}
.source>h2 {display:inline-block;}
.source>h2>a {color:#f3447f;}

.fb-comments {margin:15px 0 !important;}

#rating {}
#rating>div.fl {width:57%;}
#rating>div.fl>span {display:block;margin-bottom:22px;text-align:right;position:relative;}
#rating>div.fl>span:nth-child(6) {margin-bottom:33px;}
#rating>div.fl>span>* {display:inline-block;vertical-align:top;}
#rating>div.fl>span>b {font-weight:normal;color:#f3447f;text-transform:uppercase;margin-right:90px;}
#rating>div.fl>span>i {width:80px;background:transparent url(images/istar.png) repeat-x left top;height:17px;position:absolute;right:0;top:0;z-index:3;}
#rating>div.fl>span>i>em {display:block;background:transparent url(images/istar.png) repeat-x left top;height:17px;background-position:0 -17px;}
#rating>div.fl>span>em {width:80px;height:17px;position:absolute;right:0;top:0;z-index:2;}
#rating>div.fl>span>em.active {z-index:10;}
#rating>div.fl>span>em>a {display:block;background:transparent url(images/istar.png) repeat-x left top;height:17px;width:16px;float:left;}
#rating>div.fl>span>em>a.ra-hover {background-image:url(images/istar.png);z-index:10;background-position:0 -34px;}
#rating>div.fl>label {display:block;text-align:center;width:200px;margin-left:218px;}
#rating>div.fl>label>b {color:#f3447f;font-size:33px;font-style:italic;}
#rating>div.fl>label>i {width:80px;background:transparent url(images/istar.png) repeat-x left top;height:17px;display:inline-block;}
#rating>div.fl>label>i>em {display:block;background:transparent url(images/istar.png) repeat-x left top;height:17px;background-position:0 -17px;}
#rating>div.fl>label>em {font-size:15px;display:inline-block;margin-bottom:10px;}
#rating>div.fl>a {margin:0 auto 0 243px;width:140px;display:block;}
#rating>div.fr {width:40%;height:370px;}
#rating>div.fr img {width:100%;height:100%;}

.pic {}
.pic>img {max-width:100%;}
.pic>div {margin-bottom:10px;}
.pic>a {display:block;margin:0 5px 20px 5px;padding-bottom:20px;border-bottom:1px solid #ccc;color:#f3447f;}
.pic>a>b {text-transform:uppercase;display:block;margin-bottom:10px;color:#f3447f;font-weight:normal;font-size:17px;}
.pic>a>img {width:100%;}

.price .tab {padding-top:10px;}
.price>img {width:100%;margin:auto;display:block;}
.price>a {display:block;padding:10px 0;line-height:1.4;}
.price>a>img {display:block;margin:0 auto;}
.price>a.p-item {border-bottom:1px solid #ccc;color:#f3447f;}
.price .tab table {width:98%;margin:auto;border:1px solid #ccc;padding:0;}
.price .tab td {padding:5px 10px;}
.price .tab td * {margin:0;padding:0;}

.vid {}
.vid>div {margin-bottom:15px;}
.vid .vid-item {margin:0 5px 17px 5px;overflow:hidden;}
.vid .vid-item>* {display:block;}
.vid .vid-item>a:first-child {position:relative;float:left;margin-right:15px;width:300px;}
.vid .vid-item>a:first-child:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;width:58px;height:58px;background:transparent url(images/play.png) no-repeat left top;}
.vid .vid-item>a>img {width:100%;height:200px;}
.vid .vid-item>a:nth-child(2) {font-size:22px;margin-bottom:10px;font-weight:normal;text-transform:uppercase;line-height:1.3;color:#838383;}
.vid .vid-item>a:nth-child(2):hover {color:#f3447f;}

.iframe {width:98%;height:400px;position:relative;background:transparent url(images/loader.gif) no-repeat center center;margin:auto;}
.iframe>img {width:100%;height:100%;}
.video .iframe:after {content:"";position:absolute;left:0;right:0;top:0;bottom:0;width:86px;height:60px;margin:auto;background:transparent url(images/play1.png) no-repeat left top;cursor:pointer;}
.video .iframe:hover:after {background-position:0 -60px;}
.detail.video>iframe {width:98%;height:400px;margin:auto;display:block;}

footer {}
footer>div {width:100%;margin:10px auto;}
footer>div>* {display:block;margin-bottom:5px;}
footer>div img {max-width:100%;display:block;margin-bottom:10px;}
footer>div>label {color:#f3447f;text-align:center;}
footer>div>span {color:#333;}
footer>div>span>a {color:#f3447f;}

.content-6 {padding-top:0;}
.content-6>div>div {display:block;}
.content-6>div>div>h3 {display:block;color:#f3447f;margin-bottom:5px;text-transform:uppercase;}
.content-6>div>div>a {display:inline-block;padding:4px 15px;background-color:#f3eeea;font-size:12px;margin:0 0 2px 2px;color:#333;}

#right-angle {position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:999999;top:0;left:0;}
#right-angle>div {position:absolute;width:150px;height:125px;top:0;bottom:0;left:0;right:0;margin:auto;}
#right-angle>div>a:first-child {font-size:20px;position:absolute;right:-10px;top:-10px;height:25px;width:26px;line-height:26px;text-align:center;color:#f3447f;background-color:#fff;border:1px solid #f3447f;border-radius:50%;}
#right-angle>div>a>img {width:100%;}

#register {width:300px;position:relative;}
#register>a {font-size:41px;color:#333;position:absolute;right:10px;top:14px;font-weight:bold;color:#fff;}
#register>b {font-size:15px;display:block;text-align:center;height:45px;line-height:47px;background-color:#f3447f;color:#fff;text-align:center;}
#register>form {padding:20px;}
#register>form>* {display:block;margin-bottom:10px;}
#register>form>span>* {display:inline-block;vertical-align:middle;}
#register>form>span>*:nth-child(2) {margin-right:15px;}
#register>form>span>b {font-weight:normal;}
#register>form>input[type=text] {height:35px;line-height:35px;border-radius:4px;border:1px solid #ccc;padding:0 10px;width:240px;}
#register>form>textarea {border-radius:4px;border:1px solid #ccc;padding:5px;width:250px;}
#register>form>button {width:120px;height:35px;line-height:35px;background-color:#f3447f;color:#fff;text-align:center;font-size:15px;font-weight:bold;display:block;border:none;border-radius:4px;cursor:pointer;}


@media screen and (max-width:480px) {
    .art-item>img {width:190px;height:118px;}
    .art-item span {max-height:58px;overflow:hidden;}
    .art-item b {max-height:48px;overflow:hidden;padding-left:0;margin-bottom:0;}
    .art-item b>i {display:block;max-width:80px;margin-left:0;}

    .video>a>img {height:280px;}

    .picture {margin-left:4px;}
    .picture .item {width:235px;}

    #owl-customer .item {width:233px;}

    .category>a {width:45%;margin-left:1% !important;}

    .vid .vid-item {padding-bottom:15px;border-bottom:1px solid #ccc;}
    .vid .vid-item>a:first-child {width:100%;float:none;margin-left:auto;margin-right:auto;}
    .vid .vid-item>a>img {height:280px;margin-bottom:7px;}

    .iframe {height:300px;}
    .detail.video>iframe {height:300px;}

    .detail .dt-tab {height:auto;display:block;text-align:center;background-repeat:repeat;}
    .detail .dt-tab>a {display:inline-block;width:25%;height:44px;line-height:44px;padding:0;text-align:center;border-radius:0;}
    .detail .dt-tab>a:last-child {background: transparent url(images/bg-tab.png) repeat-x left top;border-radius:0;}
    .detail .dt-tab>a.active {background:#f3447f;border-radius:0;}
    .detail .dt-tab>a:hover::before, .detail .dt-tab>a.active:before {background:none !important;}
    .detail .tab iframe {height:300px;}
    .detail .dt-qa>div {padding-top:3px;}
    .detail .tab8>div>div>b {font-size:15px;font-weight:normal;}

    #rating>div.fl {width:100%;float:none;}
    #rating>div.fl>span {margin-right:100px;}
    #rating>div.fl>span:nth-child(6) {margin-bottom:25px;}
    #rating>div.fl>label {margin-left:0;text-align:center;width:auto;}
    #rating>div.fl>a {margin-left:auto;}
    #rating>div.fr {width:100%;height:auto;padding:25px 0 15px 0;}
    #rating>div.fr img {max-width:100% !important;width:auto !important;}
}

@media screen and (max-width:414px) {
    .art-item b {font-size:15px;max-height:56px;}
    .art-item span {font-size:13px;max-height:53px;}

    .picture .item {width:405px;}
    #owl-customer .item {width:406px;}

    .question-answer>a {line-height:1.4;padding-top:6px;min-height:42px;}

    #rating>div.fl>span {margin-right:40px;}

    .detail>h1 {line-height:1.3;}
    .detail .dt-cr>div>b {margin-top:0;line-height:1.3;}
    .detail .dt-cr>div>img {margin-right:10px;}
    .detail .dt-qa>div {padding-top:5px;}

    .video>a>img {height:250px;}
    .vid .vid-item>a>img {height:250px;}
    .iframe {height:250px;}
    .detail.video>iframe {height:250px;}
    .detail .tab iframe {height:250px;}
}
@media screen and (max-width:375px) {
    .art-item>img {width:120px;height:75px;}
    .art-item:first-child img {width:230px;height:143px;}
    .art-item:first-child b {max-height:143px;}
    .art-item span {display:none;}
    .art-item b {padding-top:0;max-height:69px;font-size:17px;}
    #rating>div.fl>span {margin-right:25px;}
    .detail .dt-cr>div>div p {line-height:1.4;}
    .category>a {width:43%;}

    .picture .item {width:367px;}
    #owl-customer .item {width:367px;}
}
@media screen and (max-width:360px) {
    .picture .item {width:353px;}
    #owl-customer .item {width:352px;}

    #rating>div.fl>span {margin-right:15px;}
    .detail .dt-cr>div>b {font-size:15px;}
    .vid .vid-item>a:nth-child(2) {margin-bottom:5px;}
    
}
@media screen and (max-width:320px) {
    .art-item:first-child img {width:200px;height:124px;}

    .video>a>img {height:200px;}
    .vid .vid-item>a>img {height:200px;}
    .iframe {height:200px;}
    .detail.video>iframe {height:200px;}
    .detail .tab iframe {height:200px;}
    .picture .item {width:313px;}
    #owl-customer .item {width:312px;}
    .category>a {vertical-align:top;}

    footer>div {width:310px;}

    .detail .dt-tab>a {font-size:12px;}
    #rating>div.fl>span>b {font-size:12px;}
    #rating>div.fl>span {margin-right:8px;}

    .detail .dt-cr>div>img {width:90px !important;height:85px !important;}
    .detail .tab8>div>div>b {font-size:14px;}
    .vid .vid-item>a:nth-child(2) {font-size:19px;}
}

