 <div class="pro">
        <div class="icon-pro">
            <p><b>Giá trị khuyến mãi</b></p>
            <p>Giảm</p>
            <p class="percent">50%</p>
            <p>Giá trị</p>
        </div>
        <table class="t-pro" cellpadding="0" cellspacing="0">
            <tr class="pro-r-top">
                <td class="c-top">
                    <p class="c-top-title"><strong>Thời gian áp dụng:</strong> <b>30.09.2011 - 20.11.2011</b></p>
                    <p>- Tặng trang sức trị giá 30% hoá đơn</p>
                    <p>- Thưởng thức miễn phí thức uống Italia</p>
                    <p>- Tại không gian mua sắm thuộc hệ thống Parkson</p>          
                </td>
            </tr>
            <tr class="pro-r-center">
                <td>
                    <table class="pro-table-item">          
                        <tr>
                            <td colspan="2"><strong>Sản phẩm / Dịch vụ khuyến mãi</strong></td>
                        </tr>
                        <tr>
                            <td style="width:30%;"></td>
                            <td class="pro-r-item">Kim cương nhân tạo</td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td><strong>Khu vực áp dụng</strong></td>
                            <td class="pro-r-item">Các gian hàng của Thế Giới Kim Cương tại Trung tâm mua sắm thuộc hệ thống Parkson tại TPHCM – Hà Nội</td>
                        </tr>                        
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td><strong>Đối tượng áp dụng</strong></td>
                            <td class="pro-r-item">Khách hàng thanh toán bằng thẻ MasterCard của Sacombank</td>
                        </tr>                        
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td><strong>Điều kiện áp dụng</strong></td>
                            <td class="pro-r-item">Mua từ 10 sản phẩm trở lên</td>
                        </tr>                        
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Giá sản phẩm / dịch vụ trong chương trình khuyến mãi</strong></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="pro-r-item">50% so với giá niêm yết – Giá niêm yết phụ thuộc kích thước viên kiêm cương</td>
                        </tr>
                    </table>
                </td>  
            </tr>
            <tr>
                <td class="pro-r-bottom">&nbsp;</td>
            </tr>
        </table>        
    </div>