<div id="register">
    <a href="javascript:$.colorbox.close()">×</a>
    <b>ĐĂNG KÝ TƯ VẤN DỊCH VỤ</b>
    <form id="frmRegister" onsubmit="return Register()">
        <span>
            <input type="radio" name="rdGender" value="1" />
            <b>Anh</b>
            <input type="radio" name="rdGender" value="0" />
            <b>Chị</b>
        </span>
        <input type="text" name="txtFullName" placeholder="Họ tên" />
        <input type="text" name="txtPhoneNumber" placeholder="Số điện thoại" />
        <input type="text" name="txtEmail" placeholder="Email" />
        <textarea name="txtContent" rows="5" placeholder="Nội dung tư vấn"></textarea>
        <button>GỬI</button>
    </form>
</div>
<a href="#register" id="lregister" style="display:none"></a>