<div class="td-a-rec td-a-rec-id-sidebar">

    <span class=td-adspot-title>- Advertisement -</span><div class=td-visible-desktop>
        <a href="http://themeforest.net/item/newspaper/5489609"><img class=td-retina style=max-width: 300px src="/assets/wp-content/uploads/2016/01/rec300.jpg" alt="" width=300 height=250 /></a>
    </div>
    <div class=td-visible-tablet-landscape>
        <a href="http://themeforest.net/item/newspaper/5489609"><img class=td-retina style=max-width: 300px src="/assets/wp-content/uploads/2016/01/rec300.jpg" alt="" width=300 height=250 /></a>
    </div>
    <div class=td-visible-tablet-portrait>
        <a href="http://themeforest.net/item/newspaper/5489609"><img class=td-retina style=max-width: 200px src="/assets/wp-content/uploads/2016/01/rec200.jpg" alt="" width=200 height=200 /></a>
    </div>
    <div class=td-visible-phone>
        <a href="http://themeforest.net/item/newspaper/5489609"><img class=td-retina style=max-width: 300px src="/assets/wp-content/uploads/2016/01/rec300.jpg" alt="" width=300 height=250 /></a>
    </div>
</div>