<div class="td_block_wrap td_block_15 td_uid_47_590ffa2863b14_rand td_with_ajax_pagination td-pb-border-top td_block_template_1 td-column-1 td_block_padding" data-td-block-uid=td_uid_47_590ffa2863b14>
    <script>
                                        var block_td_uid_47_590ffa2863b14 = new tdBlock();
                                        block_td_uid_47_590ffa2863b14.id = "td_uid_47_590ffa2863b14";
                                        block_td_uid_47_590ffa2863b14.atts = '{"limit":"4","sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"27","category_ids":"","custom_title":"MAKE IT MODERN","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"next_prev","header_color":"","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":1,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_47_590ffa2863b14_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_47_590ffa2863b14_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                        block_td_uid_47_590ffa2863b14.td_column_number = "1";
                                        block_td_uid_47_590ffa2863b14.block_type = "td_block_15";
                                        block_td_uid_47_590ffa2863b14.post_count = "4";
                                        block_td_uid_47_590ffa2863b14.found_posts = "12";
                                        block_td_uid_47_590ffa2863b14.header_color = "";
                                        block_td_uid_47_590ffa2863b14.ajax_pagination_infinite_stop = "";
                                        block_td_uid_47_590ffa2863b14.max_num_pages = "3";
                                        tdBlocksArray.push(block_td_uid_47_590ffa2863b14);
    </script>
    <div class=td-block-title-wrap>
        <h4 class=block-title><span class=td-pulldown-size>MAKE IT MODERN</span></h4>
    </div>
    <div id=td_uid_47_590ffa2863b14 class="td_block_inner td-column-1">
        <div class=td-cust-row>
            <div class=td-block-span12>
                <div class="td_module_mx4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-rosie-huntington-whiteley-talks-beauty-habits-career-ambitions-and-going-nude-for-art/" rel=bookmark title="Rosie Huntington Whiteley Talks Beauty Habits Career Art"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/108-218x150.jpg" alt="" title="Rosie Huntington Whiteley Talks Beauty Habits Career Art" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-make-it-modern/" class=td-post-category>Make it modern</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-rosie-huntington-whiteley-talks-beauty-habits-career-ambitions-and-going-nude-for-art/" rel=bookmark title="Rosie Huntington Whiteley Talks Beauty Habits Career Art">Rosie Huntington Whiteley Talks Beauty Habits Career Art</a></h3>
                </div>
            </div>
            <div class=td-block-span12>
                <div class="td_module_mx4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-bayside-ranch-a-perfect-canvas-for-interior-designer-2016/" rel=bookmark title="Bayside Ranch a perfect canvas for interior designer 2016"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/109-218x150.jpg" alt="" title="Bayside Ranch a perfect canvas for interior designer 2016" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-make-it-modern/" class=td-post-category>Make it modern</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-bayside-ranch-a-perfect-canvas-for-interior-designer-2016/" rel=bookmark title="Bayside Ranch a perfect canvas for interior designer 2016">Bayside Ranch a perfect canvas for interior designer 2016</a></h3>
                </div>
            </div>
        </div><div class=td-cust-row>
            <div class=td-block-span12>
                <div class="td_module_mx4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-2015-decorators-opens-with-home-design-inspiration-benefiting-symphony-orchestra/" rel=bookmark title="2016 Decorators opens with home design inspiration"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/house-218x150.jpg" alt="" title="2016 Decorators opens with home design inspiration" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-make-it-modern/" class=td-post-category>Make it modern</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-2015-decorators-opens-with-home-design-inspiration-benefiting-symphony-orchestra/" rel=bookmark title="2016 Decorators opens with home design inspiration">2016 Decorators opens with home design inspiration</a></h3>
                </div>
            </div>
            <div class=td-block-span12>
                <div class="td_module_mx4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-artist-brings-air-of-distinction-to-delafield-apartment/" rel=bookmark title="Artist brings air of distinction to Delafield apartment"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/110-218x150.jpg" alt="" title="Artist brings air of distinction to Delafield apartment" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-make-it-modern/" class=td-post-category>Make it modern</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-artist-brings-air-of-distinction-to-delafield-apartment/" rel=bookmark title="Artist brings air of distinction to Delafield apartment">Artist brings air of distinction to Delafield apartment</a></h3>
                </div>
            </div>
        </div>
    </div><div class=td-next-prev-wrap><a href="index.html#" class="td-ajax-prev-page ajax-page-disabled" id=prev-page-td_uid_47_590ffa2863b14 data-td_block_id=td_uid_47_590ffa2863b14><i class="td-icon-font td-icon-menu-left"></i></a><a href="index.html#" class=td-ajax-next-page id=next-page-td_uid_47_590ffa2863b14 data-td_block_id=td_uid_47_590ffa2863b14><i class="td-icon-font td-icon-menu-right"></i></a></div>
</div>