<div class="wpb_column vc_column_container td-pb-span4">
    <div class="vc_column-inner ">
        <div class=wpb_wrapper>
            <div class="td_block_wrap td_block_19 td_uid_53_590ffa2868b1b_rand td-pb-border-top td_block_template_1 td-column-1" data-td-block-uid=td_uid_53_590ffa2868b1b>
                <style>
                    body .td_uid_53_590ffa2868b1b_rand .td_module_wrap:hover .entry-title a, body .td_uid_53_590ffa2868b1b_rand .td-pulldown-filter-link:hover, body .td_uid_53_590ffa2868b1b_rand .td-subcat-item a:hover, body .td_uid_53_590ffa2868b1b_rand .td-subcat-item .td-cur-simple-item, body .td_uid_53_590ffa2868b1b_rand .td_quote_on_blocks, body .td_uid_53_590ffa2868b1b_rand .td-opacity-cat .td-post-category:hover, body .td_uid_53_590ffa2868b1b_rand .td-opacity-read .td-read-more a:hover, body .td_uid_53_590ffa2868b1b_rand .td-opacity-author .td-post-author-name a:hover, body .td_uid_53_590ffa2868b1b_rand .td-instagram-user a {
                        color: #4db2ec;
                    }

                    body .td_uid_53_590ffa2868b1b_rand .td-next-prev-wrap a:hover, body .td_uid_53_590ffa2868b1b_rand .td-load-more-wrap a:hover {
                        background-color: #4db2ec;
                        border-color: #4db2ec;
                    }

                    body .td_uid_53_590ffa2868b1b_rand .block-title > *, body .td_uid_53_590ffa2868b1b_rand .td-trending-now-title, body .td_uid_53_590ffa2868b1b_rand .td-read-more a, body .td_uid_53_590ffa2868b1b_rand .td-weather-information:before, body .td_uid_53_590ffa2868b1b_rand .td-weather-week:before, body .td_uid_53_590ffa2868b1b_rand .td-subcat-dropdown:hover .td-subcat-more, body .td_uid_53_590ffa2868b1b_rand .td-exchange-header:before, body .td-footer-wrapper .td_uid_53_590ffa2868b1b_rand .td-post-category, body .td_uid_53_590ffa2868b1b_rand .td-post-category:hover {
                        background-color: #4db2ec;
                    }

                    body .td-footer-wrapper .td_uid_53_590ffa2868b1b_rand .block-title > * {
                        padding: 6px 7px 5px;
                        line-height: 1;
                    }

                    body .td_uid_53_590ffa2868b1b_rand .block-title {
                        border-color: #4db2ec;
                    }
                </style>
                <script>
                                    var block_td_uid_53_590ffa2868b1b = new tdBlock();
                                    block_td_uid_53_590ffa2868b1b.id = "td_uid_53_590ffa2868b1b";
                                    block_td_uid_53_590ffa2868b1b.atts = '{"limit":"4","sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"24","category_ids":"","custom_title":"WRC RACING","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"","header_color":"#4db2ec","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":1,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_53_590ffa2868b1b_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_53_590ffa2868b1b_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                    block_td_uid_53_590ffa2868b1b.td_column_number = "1";
                                    block_td_uid_53_590ffa2868b1b.block_type = "td_block_19";
                                    block_td_uid_53_590ffa2868b1b.post_count = "4";
                                    block_td_uid_53_590ffa2868b1b.found_posts = "11";
                                    block_td_uid_53_590ffa2868b1b.header_color = "#4db2ec";
                                    block_td_uid_53_590ffa2868b1b.ajax_pagination_infinite_stop = "";
                                    block_td_uid_53_590ffa2868b1b.max_num_pages = "3";
                                    tdBlocksArray.push(block_td_uid_53_590ffa2868b1b);
                </script>
                <div class=td-block-title-wrap>
                    <h4 class=block-title><span class=td-pulldown-size>WRC RACING</span></h4>
                </div>
                <div id=td_uid_53_590ffa2868b1b class="td_block_inner td-column-1">
                    <div class="td_module_mx1 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-five-reasons-why-in-form-leicester-city-will-finish-the-job-and-stay-up/" rel=bookmark title="Five reasons why in-form Leicester City will finish the job and stay up"><img width=356 height=220 class=entry-thumb src="/assets/wp-content/uploads/2015/04/95-356x220.jpg" alt="" title="Five reasons why in-form Leicester City will finish the job and stay up" /></a>
                        </div>
                        <div class=td-module-meta-info>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-five-reasons-why-in-form-leicester-city-will-finish-the-job-and-stay-up/" rel=bookmark title="Five reasons why in-form Leicester City will finish the job and stay up">Five reasons why in-form Leicester City will finish the job and stay up</a>
                            </h3>
                            <div class=td-editor-date>
                                <span class=td-author-date>
                                    <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:26:58+00:00">Apr 22, 2015</time></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="td_module_mx2 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-erik-jones-has-day-he-wont-soon-forget-as-denny-backup-at-bristol/" rel=bookmark title="Erik Jones has day he won&#8217;t soon forget as Denny backup at Bristol"><img width=80 height=60 class=entry-thumb src="/assets/wp-content/uploads/2015/04/94-80x60.jpg" alt="" title="Erik Jones has day he won&#8217;t soon forget as Denny backup at Bristol" /></a>
                        </div>
                        <div class=item-details>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-erik-jones-has-day-he-wont-soon-forget-as-denny-backup-at-bristol/" rel=bookmark title="Erik Jones has day he won&#8217;t soon forget as Denny backup at Bristol">Erik Jones has day he won&#8217;t soon forget as Denny backup at Bristol</a>
                            </h3>
                            <div class=td-module-meta-info>
                                <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:58+00:00">Apr 22, 2015</time></span>
                            </div>
                        </div>
                    </div>
                    <div class="td_module_mx2 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-what-did-we-learn-from-manchester-united-loss-at-chelsea/" rel=bookmark title="What did we learn from Manchester United loss at Chelsea?"><img width=80 height=60 class=entry-thumb src="/assets/wp-content/uploads/2015/04/96-80x60.jpg" alt="" title="What did we learn from Manchester United loss at Chelsea?" /></a>
                        </div>
                        <div class=item-details>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-what-did-we-learn-from-manchester-united-loss-at-chelsea/" rel=bookmark title="What did we learn from Manchester United loss at Chelsea?">What did we learn from Manchester United loss at Chelsea?</a>
                            </h3>
                            <div class=td-module-meta-info>
                                <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:58+00:00">Apr 22, 2015</time></span>
                            </div>
                        </div>
                    </div>
                    <div class="td_module_mx2 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-wigan-warriors-return-as-ben-flower-makes-his-own-victory/" rel=bookmark title="Wigan Warriors return as Ben Flower makes his own victory"><img width=80 height=60 class=entry-thumb src="/assets/wp-content/uploads/2015/04/92-80x60.jpg" alt="" title="Wigan Warriors return as Ben Flower makes his own victory" /></a>
                        </div>
                        <div class=item-details>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-wigan-warriors-return-as-ben-flower-makes-his-own-victory/" rel=bookmark title="Wigan Warriors return as Ben Flower makes his own victory">Wigan Warriors return as Ben Flower makes his own victory</a>
                            </h3>
                            <div class=td-module-meta-info>
                                <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:57+00:00">Apr 22, 2015</time></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>