<div class="wpb_column vc_column_container td-pb-span4">
    <div class="vc_column-inner ">
        <div class=wpb_wrapper>
            <div class="td_block_wrap td_block_10 td_uid_55_590ffa286b822_rand td-pb-border-top td_block_template_1 td-column-1 td_block_padding td_block_bot_line" data-td-block-uid=td_uid_55_590ffa286b822>
                <script>
                                    var block_td_uid_55_590ffa286b822 = new tdBlock();
                                    block_td_uid_55_590ffa286b822.id = "td_uid_55_590ffa286b822";
                                    block_td_uid_55_590ffa286b822.atts = '{"limit":"3","sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"20","category_ids":"","custom_title":"BUSINESS","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"","header_color":"","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":1,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_55_590ffa286b822_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_55_590ffa286b822_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                    block_td_uid_55_590ffa286b822.td_column_number = "1";
                                    block_td_uid_55_590ffa286b822.block_type = "td_block_10";
                                    block_td_uid_55_590ffa286b822.post_count = "3";
                                    block_td_uid_55_590ffa286b822.found_posts = "13";
                                    block_td_uid_55_590ffa286b822.header_color = "";
                                    block_td_uid_55_590ffa286b822.ajax_pagination_infinite_stop = "";
                                    block_td_uid_55_590ffa286b822.max_num_pages = "5";
                                    tdBlocksArray.push(block_td_uid_55_590ffa286b822);
                </script>
                <div class=td-block-title-wrap>
                    <h4 class=block-title><span class=td-pulldown-size>BUSINESS</span></h4>
                </div>
                <div id=td_uid_55_590ffa286b822 class=td_block_inner>
                    <div class=td-block-span12>
                        <div class="td_module_9 td_module_wrap">
                            <div class=item-details>
                                <div class=td-module-comments>
                                    <a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/#respond">0</a>
                                </div>
                                <h3 class="entry-title td-module-title">
                                    <a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/" rel=bookmark title="Whitewater Rafting Day Trip from New York in the East">Whitewater Rafting Day Trip from New York in the East</a>
                                </h3>
                                <div class=td-module-meta-info>
                                    <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:44+00:00">Apr 22, 2015</time></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=td-block-span12>
                        <div class="td_module_9 td_module_wrap">
                            <div class=item-details>
                                <div class=td-module-comments>
                                    <a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/#respond">0</a>
                                </div>
                                <h3 class="entry-title td-module-title">
                                    <a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/" rel=bookmark title="Five things you may have missed over the weekend from the world of business">Five things you may have missed over the weekend from the world of business</a>
                                </h3>
                                <div class=td-module-meta-info>
                                    <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:43+00:00">Apr 22, 2015</time></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=td-block-span12>
                        <div class="td_module_9 td_module_wrap">
                            <div class=item-details>
                                <div class=td-module-comments>
                                    <a href="https://demo.tagdiv.com/newspaper/td-post-seeking-business-cuomo-heads-to-cuba-with-a-new-york-trade-delegation/#respond">0</a>
                                </div>
                                <h3 class="entry-title td-module-title">
                                    <a href="https://demo.tagdiv.com/newspaper/td-post-seeking-business-cuomo-heads-to-cuba-with-a-new-york-trade-delegation/" rel=bookmark title="Seeking Business, Cuomo Heads to Cuba With a New York Trade Delegation">Seeking Business, Cuomo Heads to Cuba With a New York Trade Delegation</a>
                                </h3>
                                <div class=td-module-meta-info>
                                    <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius/">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:42+00:00">Apr 22, 2015</time></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>