<div class="td-banner-wrap-full td-logo-wrap-full td-container-wrap ">
    <div class="td-container td-header-row td-header-header">
        <div class=td-header-sp-logo>
            <h1 class=td-logo>
                <a class=td-main-logo href="index.html">
                    <img class=td-retina-data data-retina="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/01/logo-header@2x.png" src="/assets/wp-content/uploads/2016/01/logo-header.png" alt="" />
                    <span class=td-visual-hidden>Newspaper 7 Demo</span>
                </a>
            </h1>
        </div>
        <div class=td-header-sp-recs>
            <div class=td-header-rec-wrap>
                <div class="td-a-rec td-a-rec-id-header  ">
                    <div class=td-visible-desktop>
                        <a href="http://themeforest.net/item/newspaper/5489609"><img class=td-retina style=max-width: 728px src="/assets/wp-content/uploads/2016/01/rec728.jpg" alt="" width=728 height=90 /></a>
                    </div>
                    <div class=td-visible-tablet-landscape>
                        <a href="http://themeforest.net/item/newspaper/5489609"><img class=td-retina style=max-width: 728px src="/assets/wp-content/uploads/2016/01/rec728.jpg" alt="" width=728 height=90 /></a>
                    </div>
                    <div class=td-visible-tablet-portrait>
                        <a href="http://themeforest.net/item/newspaper/5489609"><img class=td-retina style=max-width: 468px src="/assets/wp-content/uploads/2016/01/rec468.jpg" alt="" width=468 height=60 /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>