<div class=td-pb-span4>
    <div class="td_block_wrap td_block_7 td_uid_60_590ffa2870839_rand td-pb-border-top td_block_template_1 td-column-1 td_block_padding" data-td-block-uid=td_uid_60_590ffa2870839>
        <script>
                                var block_td_uid_60_590ffa2870839 = new tdBlock();
                                block_td_uid_60_590ffa2870839.id = "td_uid_60_590ffa2870839";
                                block_td_uid_60_590ffa2870839.atts = '{"limit":3,"sort":"featured","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"","category_ids":"","custom_title":"EDITOR PICKS","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"","header_color":"","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":1,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_60_590ffa2870839_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_60_590ffa2870839_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                block_td_uid_60_590ffa2870839.td_column_number = "1";
                                block_td_uid_60_590ffa2870839.block_type = "td_block_7";
                                block_td_uid_60_590ffa2870839.post_count = "3";
                                block_td_uid_60_590ffa2870839.found_posts = "17";
                                block_td_uid_60_590ffa2870839.header_color = "";
                                block_td_uid_60_590ffa2870839.ajax_pagination_infinite_stop = "";
                                block_td_uid_60_590ffa2870839.max_num_pages = "6";
                                tdBlocksArray.push(block_td_uid_60_590ffa2870839);
        </script>
        <div class=td-block-title-wrap><h4 class=block-title><span class=td-pulldown-size>EDITOR PICKS</span></h4></div><div id=td_uid_60_590ffa2870839 class=td_block_inner>
            <div class=td-block-span12>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/" rel=bookmark title="WordPress News Magazine Charts the Most Fashionable New York Couples in 2016"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2016/01/girlandboy-100x70.jpg" alt="" title="WordPress News Magazine Charts the Most Fashionable New York Couples in 2016" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/" rel=bookmark title="WordPress News Magazine Charts the Most Fashionable New York Couples in 2016">WordPress News Magazine Charts the Most Fashionable New York Couples in...</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2016-01-22T05:58:41+00:00">Jan 22, 2016</time></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=td-block-span12>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/the-most-anticipated-charter-flights-in-the-canary-islands/" rel=bookmark title="The Most Anticipated Charter Flights in the Canary Islands"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/02/plane-100x70.jpg" alt="" title="The Most Anticipated Charter Flights in the Canary Islands" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/the-most-anticipated-charter-flights-in-the-canary-islands/" rel=bookmark title="The Most Anticipated Charter Flights in the Canary Islands">The Most Anticipated Charter Flights in the Canary Islands</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2016-01-22T05:47:36+00:00">Jan 22, 2016</time></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=td-block-span12>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/15-grooming-techniques-every-man-needs-to-know/" rel=bookmark title="15 Grooming Techniques Every Man Needs to Know"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/02/bike-100x70.jpg" alt="" title="15 Grooming Techniques Every Man Needs to Know" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/15-grooming-techniques-every-man-needs-to-know/" rel=bookmark title="15 Grooming Techniques Every Man Needs to Know">15 Grooming Techniques Every Man Needs to Know</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2016-01-22T05:23:51+00:00">Jan 22, 2016</time></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>