<div class="td-a-rec td-a-rec-id-custom_ad_1  ">
    <span class=td-adspot-title>- Advertisement -</span><div class=td-visible-desktop>
        <a href="index.html#"><img class=td-retina style=max-width: 728px src="/assets/wp-content/uploads/2016/01/rec728.jpg" alt="" width=728 height=90 /></a>
    </div>
    <div class=td-visible-tablet-landscape>
        <a href="index.html#"><img class=td-retina style=max-width: 728px src="/assets/wp-content/uploads/2016/01/rec728.jpg" alt="" width=728 height=90 /></a>
    </div>
    <div class=td-visible-tablet-portrait>
        <a href="index.html#"><img class=td-retina style=max-width: 468px src="/assets/wp-content/uploads/2016/01/rec468.jpg" alt="" width=468 height=60 /></a>
    </div>
    <div class=td-visible-phone>
        <a href="index.html#"><img class=td-retina style=max-width: 300px src="/assets/wp-content/uploads/2016/01/rec300.jpg" alt="" width=300 height=250 /></a>
    </div>
</div>