<div class="td-header-menu-wrap-full td-container-wrap ">
    <div class="td-header-menu-wrap td-header-gradient">
        <div class="td-container td-header-row td-header-main-menu">
            <div id=td-header-menu role=navigation>
                <div class=menu-main-menu-container>
                    <ul id=menu-main-menu-1 class=sf-menu>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-13 current_page_item menu-item-first td-menu-item td-normal-menu menu-item-15"><a href="index.html">News</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-mega-menu menu-item-291">
                            <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/">Fashion</a>
                            <ul class=sub-menu>
                                <li class=menu-item-0>
                                    <div class=td-container-border>
                                        <div class=td-mega-grid>
                                            <div class="td_block_wrap td_block_mega_menu td_uid_2_590ffa28497eb_rand td_with_ajax_pagination td-pb-border-top td_block_template_1" data-td-block-uid=td_uid_2_590ffa28497eb>
                                                <div class=td_mega_menu_sub_cats>
                                                    <div class=block-mega-child-cats>
                                                        <a class="cur-sub-cat mega-menu-sub-cat-td_uid_2_590ffa28497eb" id=td_uid_3_590ffa284a3e7 data-td_block_id=td_uid_2_590ffa28497eb data-td_filter_value="" href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/">All</a><a class=mega-menu-sub-cat-td_uid_2_590ffa28497eb id=td_uid_4_590ffa284a447 data-td_block_id=td_uid_2_590ffa28497eb data-td_filter_value=8 href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/tagdiv-new-look-2015/">New look 2017</a><a class=mega-menu-sub-cat-td_uid_2_590ffa28497eb id=td_uid_5_590ffa284a4a3 data-td_block_id=td_uid_2_590ffa28497eb data-td_filter_value=7 href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/tagdiv-street-fashion/">Street fashion</a><a class=mega-menu-sub-cat-td_uid_2_590ffa28497eb id=td_uid_6_590ffa284a4fa data-td_block_id=td_uid_2_590ffa28497eb data-td_filter_value=10 href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/tagdiv-style-hunter/">Style hunter</a><a class=mega-menu-sub-cat-td_uid_2_590ffa28497eb id=td_uid_7_590ffa284a550 data-td_block_id=td_uid_2_590ffa28497eb data-td_filter_value=9 href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/tagdiv-vogue/">Vogue</a>
                                                    </div>
                                                </div>
                                                <div id=td_uid_2_590ffa28497eb class=td_block_inner>
                                                    <div class=td-mega-row>

                                                        <div class=td-mega-span>
                                                            <div class="td_module_mega_menu td_mod_mega_menu">
                                                                <div class=td-module-image>
                                                                    <div class=td-module-thumb>
                                                                        <a href="https://demo.tagdiv.com/newspaper/fashion-photography-helps-raising-funds/" rel=bookmark title="Fashion Photography Helps Raising Funds"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/02/girl-218x150.jpg" alt="" title="Fashion Photography Helps Raising Funds" /></a>
                                                                    </div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/tagdiv-style-hunter/" class=td-post-category>Style hunter</a>
                                                                </div>
                                                                <div class=item-details>
                                                                    <h3 class="entry-title td-module-title">
                                                                        <a href="https://demo.tagdiv.com/newspaper/fashion-photography-helps-raising-funds/" rel=bookmark title="Fashion Photography Helps Raising Funds">Fashion Photography Helps Raising Funds</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-mega-menu menu-item-293">
                            <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-technology/tagdiv-gadgets/">Gadgets</a>
                            <ul class=sub-menu>
                                <li class=menu-item-0>
                                    <div class=td-container-border>
                                        <div class=td-mega-grid>
                                            <div class="td_block_wrap td_block_mega_menu td_uid_8_590ffa284f498_rand td-no-subcats td_with_ajax_pagination td-pb-border-top td_block_template_1" data-td-block-uid=td_uid_8_590ffa284f498>

                                                <div id=td_uid_8_590ffa284f498 class=td_block_inner>
                                                    <div class=td-mega-row>

                                                        <div class=td-mega-span>
                                                            <div class="td_module_mega_menu td_mod_mega_menu">
                                                                <div class=td-module-image>
                                                                    <div class=td-module-thumb>
                                                                        <a href="https://demo.tagdiv.com/newspaper/td-post-microsoft-subsumes-open-tech-unit-back-inside-mothership/" rel=bookmark title="Microsoft Subsumes Open Tech Unit Back Inside Mothership"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/tee-218x150.jpg" alt="" title="Microsoft Subsumes Open Tech Unit Back Inside Mothership" /></a>
                                                                    </div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-technology/tagdiv-gadgets/" class=td-post-category>Gadgets</a>
                                                                </div>
                                                                <div class=item-details>
                                                                    <h3 class="entry-title td-module-title">
                                                                        <a href="https://demo.tagdiv.com/newspaper/td-post-microsoft-subsumes-open-tech-unit-back-inside-mothership/" rel=bookmark title="Microsoft Subsumes Open Tech Unit Back Inside Mothership">Microsoft Subsumes Open Tech Unit Back Inside Mothership</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-mega-menu menu-item-308">
                            <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/">Lifestyle</a>
                            <ul class=sub-menu>
                                <li class=menu-item-0>
                                    <div class=td-container-border>
                                        <div class=td-mega-grid>
                                            <div class="td_block_wrap td_block_mega_menu td_uid_9_590ffa2850a79_rand td_with_ajax_pagination td-pb-border-top td_block_template_1" data-td-block-uid=td_uid_9_590ffa2850a79>
                                                <div class=td_mega_menu_sub_cats>
                                                    <div class=block-mega-child-cats>
                                                        <a class="cur-sub-cat mega-menu-sub-cat-td_uid_9_590ffa2850a79" id=td_uid_10_590ffa285180f data-td_block_id=td_uid_9_590ffa2850a79 data-td_filter_value="" href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/">All</a><a class=mega-menu-sub-cat-td_uid_9_590ffa2850a79 id=td_uid_11_590ffa2851868 data-td_block_id=td_uid_9_590ffa2850a79 data-td_filter_value=20 href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-business/">Business</a><a class=mega-menu-sub-cat-td_uid_9_590ffa2850a79 id=td_uid_12_590ffa28518c4 data-td_block_id=td_uid_9_590ffa2850a79 data-td_filter_value=19 href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-health-fitness/">Health &amp; Fitness</a><a class=mega-menu-sub-cat-td_uid_9_590ffa2850a79 id=td_uid_13_590ffa285191a data-td_block_id=td_uid_9_590ffa2850a79 data-td_filter_value=18 href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-recipes/">Recipes</a><a class=mega-menu-sub-cat-td_uid_9_590ffa2850a79 id=td_uid_14_590ffa2851971 data-td_block_id=td_uid_9_590ffa2850a79 data-td_filter_value=17 href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-travel/">Travel</a>
                                                    </div>
                                                </div>
                                                <div id=td_uid_9_590ffa2850a79 class=td_block_inner>
                                                    <div class=td-mega-row>

                                                        <div class=td-mega-span>
                                                            <div class="td_module_mega_menu td_mod_mega_menu">
                                                                <div class=td-module-image>
                                                                    <div class=td-module-thumb>
                                                                        <a href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/" rel=bookmark title="WordPress News Magazine Charts the Most Fashionable New York Couples in 2016"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2016/01/girlandboy-218x150.jpg" alt="" title="WordPress News Magazine Charts the Most Fashionable New York Couples in 2016" /></a>
                                                                    </div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-health-fitness/" class=td-post-category>Health &amp; Fitness</a>
                                                                </div>
                                                                <div class=item-details>
                                                                    <h3 class="entry-title td-module-title">
                                                                        <a href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/" rel=bookmark title="WordPress News Magazine Charts the Most Fashionable New York Couples in 2016">WordPress News Magazine Charts the Most Fashionable New York Couples in&#8230;</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class=td-next-prev-wrap>
                                                    <a href="index.html#" class="td-ajax-prev-page ajax-page-disabled" id=prev-page-td_uid_9_590ffa2850a79 data-td_block_id=td_uid_9_590ffa2850a79><i class="td-icon-font td-icon-menu-left"></i></a><a href="index.html#" class=td-ajax-next-page id=next-page-td_uid_9_590ffa2850a79 data-td_block_id=td_uid_9_590ffa2850a79><i class="td-icon-font td-icon-menu-right"></i></a>
                                                </div>
                                                <div class=clearfix></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-mega-menu menu-item-295">
                            <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-video/">Video</a>
                            <ul class=sub-menu>
                                <li class=menu-item-0>
                                    <div class=td-container-border>
                                        <div class=td-mega-grid>
                                            <div class="td_block_wrap td_block_mega_menu td_uid_15_590ffa2856d18_rand td-no-subcats td_with_ajax_pagination td-pb-border-top td_block_template_1" data-td-block-uid=td_uid_15_590ffa2856d18>


                                                <div class=td-mega-row>

                                                    <div class=td-mega-span>
                                                        <div class="td_module_mega_menu td_mod_mega_menu">
                                                            <div class=td-module-image>
                                                                <div class=td-module-thumb>
                                                                    <a href="https://demo.tagdiv.com/newspaper/td-post-after-effects-guru-tracking-and-stabilizing-footage/" rel=bookmark title="After Effects Guru: Tracking and Stabilizing Footage"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/maxresdefault9-218x150.jpg" alt="" title="After Effects Guru: Tracking and Stabilizing Footage" /><span class=td-video-play-ico><img width=40 height=40 class=td-retina src="/assets/wp-content/themes/011/images/icons/ico-video-large.png" alt=video /></span></a>
                                                                </div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-video/" class=td-post-category>Video</a>
                                                            </div>
                                                            <div class=item-details>
                                                                <h3 class="entry-title td-module-title">
                                                                    <a href="https://demo.tagdiv.com/newspaper/td-post-after-effects-guru-tracking-and-stabilizing-footage/" rel=bookmark title="After Effects Guru: Tracking and Stabilizing Footage">After Effects Guru: Tracking and Stabilizing Footage</a>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-296">
                            <a href="index.html#">Features</a>
                            <ul class=sub-menu>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-297">
                                    <a href="index.html#">Category layouts</a>
                                    <ul class=sub-menu>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-310">
                                            <a href="index.html#">Templates</a>
                                            <ul class=sub-menu>
                                                <li class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-796"><a href="https://demo.tagdiv.com/newspaper/category/template-style-1/">Template style 1</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-312">
                                    <a href="index.html#">Premium Features <span class=td-menu-badge>NEW</span></a>
                                    <ul class=sub-menu>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-2102"><a href="https://demo.tagdiv.com/newspaper/mobile-theme/">Mobile theme</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-2212"><a href="https://demo.tagdiv.com/newspaper/block-header-1/">17 Block Header Templates<span class=td-menu-badge>NEW</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item td-normal-menu menu-item-307">
                            <a href="index.html#">Homepages</a>
                            <ul class=sub-menu>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-1094"><a href="https://demo.tagdiv.com/newspaper/homepage-fashion/">Homepage – Fashion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>