@model List<TMV.Data.Entities.BannerInfo>
    @if (Model.Any())
    {
        <div class="td_block_wrap td_block_trending_now td_uid_16_590ffa285b44d_rand td-pb-border-top td_block_template_1" data-td-block-uid=td_uid_16_590ffa285b44d>
            <div class=td_block_inner>
                <div class=td-block-row>
                    <div class=td-trending-now-wrapper id=td_uid_16_590ffa285b44d data-start="">
                        <div class=td-trending-now-title>Trending Now</div>
                        <div class=td-trending-now-display-area>
                            @foreach (var item in Model)
                            {
                                <div class="td_module_trending_now td-trending-now-post-0 td-trending-now-post">
                                    <h3 class="entry-title td-module-title">
                                        <a href="@item.NavigationUrl" rel=bookmark title="@item.Title">@Html.Raw(item.Title)</a>
                                    </h3>
                                </div>
                            }
                            
                        </div>
                        <div class=td-next-prev-wrap>
                            <a href="index.html#" class="td_ajax-prev-pagex td-trending-now-nav-left" data-block-id=td_uid_16_590ffa285b44d data-moving=left data-control-start=""><i class=td-icon-menu-left></i></a><a href="index.html#" class="td_ajax-next-pagex td-trending-now-nav-right" data-block-id=td_uid_16_590ffa285b44d data-moving=right data-control-start=""><i class=td-icon-menu-right></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
