<div class="td_block_wrap td_block_social_counter td_uid_45_590ffa28639ef_rand td-pb-border-top td_block_template_1">
    <h4 class=block-title><span class=td-pulldown-size>STAY CONNECTED</span></h4>
    <div class=td-social-list>
        <div class="td_social_type td-pb-margin-side td_social_facebook">
            <div class=td-social-box>
                <div class="td-sp td-sp-facebook"></div><span class=td_social_info>4,274</span><span class="td_social_info td_social_info_name">Fans</span><span class=td_social_button><a href="https://www.facebook.com/tagDiv">Like</a></span>
            </div>
        </div>
        <div class="td_social_type td-pb-margin-side td_social_twitter">
            <div class=td-social-box>
                <div class="td-sp td-sp-twitter"></div><span class=td_social_info>75</span><span class="td_social_info td_social_info_name">Followers</span><span class=td_social_button><a href="https://twitter.com/tagDivOfficial">Follow</a></span>
            </div>
        </div>
        <div class="td_social_type td-pb-margin-side td_social_youtube">
            <div class=td-social-box>
                <div class="td-sp td-sp-youtube"></div><span class=td_social_info>2,859</span><span class="td_social_info td_social_info_name">Subscribers</span><span class=td_social_button><a href="http://www.youtube.com/tagDiv">Subscribe</a></span>
            </div>
        </div>
    </div>
</div>