<div class="td_block_wrap td_block_11 td_uid_49_590ffa28664a7_rand td-pb-border-top td_block_template_1 td-column-2" data-td-block-uid=td_uid_49_590ffa28664a7>
    <script>
                                    var block_td_uid_49_590ffa28664a7 = new tdBlock();
                                    block_td_uid_49_590ffa28664a7.id = "td_uid_49_590ffa28664a7";
                                    block_td_uid_49_590ffa28664a7.atts = '{"limit":5,"sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"23","category_ids":"","custom_title":"PERFORMANCE TRAINING","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"","header_color":"","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":2,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_49_590ffa28664a7_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_49_590ffa28664a7_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                    block_td_uid_49_590ffa28664a7.td_column_number = "2";
                                    block_td_uid_49_590ffa28664a7.block_type = "td_block_11";
                                    block_td_uid_49_590ffa28664a7.post_count = "5";
                                    block_td_uid_49_590ffa28664a7.found_posts = "11";
                                    block_td_uid_49_590ffa28664a7.header_color = "";
                                    block_td_uid_49_590ffa28664a7.ajax_pagination_infinite_stop = "";
                                    block_td_uid_49_590ffa28664a7.max_num_pages = "3";
                                    tdBlocksArray.push(block_td_uid_49_590ffa28664a7);
    </script>
    <div class=td-block-title-wrap>
        <h4 class=block-title><span class=td-pulldown-size>PERFORMANCE TRAINING</span></h4>
    </div>
    <div id=td_uid_49_590ffa28664a7 class=td_block_inner>
        <div class=td-block-span12>
            <div class="td_module_10 td_module_wrap td-animation-stack">
                <div class=td-module-thumb>
                    <a href="https://demo.tagdiv.com/newspaper/td-post-aston-villa-beat-liverpool-to-join-arsenal-in-the-fa-cup-final/" rel=bookmark title="Aston Villa beat Liverpool team to join in the FA Cup final"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/snowboard-218x150.jpg" alt="" title="Aston Villa beat Liverpool team to join in the FA Cup final" /></a>
                </div>
                <div class=item-details>
                    <h3 class="entry-title td-module-title">
                        <a href="https://demo.tagdiv.com/newspaper/td-post-aston-villa-beat-liverpool-to-join-arsenal-in-the-fa-cup-final/" rel=bookmark title="Aston Villa beat Liverpool team to join in the FA Cup final">Aston Villa beat Liverpool team to join in the FA Cup final</a>
                    </h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius/">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:55+00:00">Apr 22, 2015</time></span>
                        <div class=td-module-comments>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-aston-villa-beat-liverpool-to-join-arsenal-in-the-fa-cup-final/#respond">0</a>
                        </div>
                    </div>
                    <div class=td-excerpt>
                        Calvin Klein known for launching the careers of such svelte models as Brooke Shields and Kate Moss to cast a model who deviates from the...
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-span12>
            <div class="td_module_10 td_module_wrap td-animation-stack">
                <div class=td-module-thumb>
                    <a href="https://demo.tagdiv.com/newspaper/td-post-home-run-kitten-favored-in-competitive-san-simeon/" rel=bookmark title="Home Run Kitten Favored in Competitive San Simeon"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/gym-girl-218x150.jpg" alt="" title="Home Run Kitten Favored in Competitive San Simeon" /></a>
                </div>
                <div class=item-details>
                    <h3 class="entry-title td-module-title">
                        <a href="https://demo.tagdiv.com/newspaper/td-post-home-run-kitten-favored-in-competitive-san-simeon/" rel=bookmark title="Home Run Kitten Favored in Competitive San Simeon">Home Run Kitten Favored in Competitive San Simeon</a>
                    </h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:54+00:00">Apr 22, 2015</time></span> <div class=td-module-comments>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-home-run-kitten-favored-in-competitive-san-simeon/#respond">0</a>
                        </div>
                    </div>
                    <div class=td-excerpt>
                        The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot by Lachian Bailey....
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-span12>
            <div class="td_module_10 td_module_wrap td-animation-stack">
                <div class=td-module-thumb>
                    <a href="https://demo.tagdiv.com/newspaper/td-post-blake-griffin-posterizes-aron-baynes-twice-in-clippers-spurs-game/" rel=bookmark title="Blake Griffin posterizes Aron Baynes twice in Clippers-Spurs Game"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/boat-red-218x150.jpg" alt="" title="Blake Griffin posterizes Aron Baynes twice in Clippers-Spurs Game" /></a>
                </div>
                <div class=item-details>
                    <h3 class="entry-title td-module-title">
                        <a href="https://demo.tagdiv.com/newspaper/td-post-blake-griffin-posterizes-aron-baynes-twice-in-clippers-spurs-game/" rel=bookmark title="Blake Griffin posterizes Aron Baynes twice in Clippers-Spurs Game">Blake Griffin posterizes Aron Baynes twice in Clippers-Spurs Game</a>
                    </h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:54+00:00">Apr 22, 2015</time></span> <div class=td-module-comments>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-blake-griffin-posterizes-aron-baynes-twice-in-clippers-spurs-game/#respond">0</a>
                        </div>
                    </div>
                    <div class=td-excerpt>
                        The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot by Lachian Bailey....
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-span12>
            <div class="td_module_10 td_module_wrap td-animation-stack">
                <div class=td-module-thumb>
                    <a href="https://demo.tagdiv.com/newspaper/td-post-john-isner-lonely-standard-bearer-of-us-mens-tennis/" rel=bookmark title="John Isner, lonely standard-bearer of US men&#8217;s tennis"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/biker-218x150.jpg" alt="" title="John Isner, lonely standard-bearer of US men&#8217;s tennis" /></a>
                </div>
                <div class=item-details>
                    <h3 class="entry-title td-module-title">
                        <a href="https://demo.tagdiv.com/newspaper/td-post-john-isner-lonely-standard-bearer-of-us-mens-tennis/" rel=bookmark title="John Isner, lonely standard-bearer of US men&#8217;s tennis">John Isner, lonely standard-bearer of US men&#8217;s tennis</a>
                    </h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:53+00:00">Apr 22, 2015</time></span> <div class=td-module-comments>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-john-isner-lonely-standard-bearer-of-us-mens-tennis/#respond">0</a>
                        </div>
                    </div>
                    <div class=td-excerpt>
                        The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot by Lachian Bailey....
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-span12>
            <div class="td_module_10 td_module_wrap td-animation-stack">
                <div class=td-module-thumb>
                    <a href="https://demo.tagdiv.com/newspaper/td-post-south-korean-horse-racing-expands-broadcasts-abroad/" rel=bookmark title="South Korean Horse Racing Expands Broadcasts Abroad"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/85-218x150.jpg" alt="" title="South Korean Horse Racing Expands Broadcasts Abroad" /></a>
                </div>
                <div class=item-details>
                    <h3 class="entry-title td-module-title">
                        <a href="https://demo.tagdiv.com/newspaper/td-post-south-korean-horse-racing-expands-broadcasts-abroad/" rel=bookmark title="South Korean Horse Racing Expands Broadcasts Abroad">South Korean Horse Racing Expands Broadcasts Abroad</a>
                    </h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:53+00:00">Apr 22, 2015</time></span> <div class=td-module-comments>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-south-korean-horse-racing-expands-broadcasts-abroad/#respond">0</a>
                        </div>
                    </div>
                    <div class=td-excerpt>
                        The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot by Lachian Bailey....
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>