<aside class="td_block_template_1 widget widget_recent_comments">
    <h4 class=block-title><span>RECENT COMMENTS</span></h4>
    <ul id=recentcomments>
        <li class=recentcomments><span class=comment-author-link><a href='http://www.matt-cloey.com' rel='external nofollow' class=url>Matt Cloey</a></span> on <a href="https://demo.tagdiv.com/newspaper/td-post-five-reasons-why-in-form-leicester-city-will-finish-the-job-and-stay-up/#comment-9">Five reasons why in-form Leicester City will finish the job and stay up</a></li>
        <li class=recentcomments><span class=comment-author-link><a href='http://www.john-doe.com' rel='external nofollow' class=url>John Doe</a></span> on <a href="https://demo.tagdiv.com/newspaper/td-post-pasta-with-caramelised-onions-and-yogurt-recipe/#comment-8">Pasta with caramelised onions and yogurt recipe</a></li>
        <li class=recentcomments><span class=comment-author-link><a href='http://www.john-doe.com' rel='external nofollow' class=url>John Doe</a></span> on <a href="https://demo.tagdiv.com/newspaper/td-post-zeta-architecture-hexagon-is-the-new-circle-in-2016/#comment-7">Zeta Architecture: Hexagon is the new circle in 2016</a></li>
        <li class=recentcomments><span class=comment-author-link><a href='http://www.armin-vans.com' rel='external nofollow' class=url>Armin Vans</a></span> on <a href="https://demo.tagdiv.com/newspaper/wordpress-news-magazine-charts-the-most-fashionable-new-york-couples-in-2016/#comment-6">WordPress News Magazine Charts the Most Fashionable New York Couples in 2016</a></li>
    </ul>
</aside>