<div class="wpb_column vc_column_container td-pb-span4">
    <div class="vc_column-inner ">
        <div class=wpb_wrapper>
            <div class="td_block_wrap td_block_19 td_uid_54_590ffa286a723_rand td-pb-border-top td_block_template_1 td-column-1" data-td-block-uid=td_uid_54_590ffa286a723>
                <script>
                                    var block_td_uid_54_590ffa286a723 = new tdBlock();
                                    block_td_uid_54_590ffa286a723.id = "td_uid_54_590ffa286a723";
                                    block_td_uid_54_590ffa286a723.atts = '{"limit":"4","sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"19","category_ids":"19, -2","custom_title":"HEALTH &amp; FITNESS","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"","header_color":"","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":1,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_54_590ffa286a723_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_54_590ffa286a723_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                    block_td_uid_54_590ffa286a723.td_column_number = "1";
                                    block_td_uid_54_590ffa286a723.block_type = "td_block_19";
                                    block_td_uid_54_590ffa286a723.post_count = "4";
                                    block_td_uid_54_590ffa286a723.found_posts = "10";
                                    block_td_uid_54_590ffa286a723.header_color = "";
                                    block_td_uid_54_590ffa286a723.ajax_pagination_infinite_stop = "";
                                    block_td_uid_54_590ffa286a723.max_num_pages = "3";
                                    tdBlocksArray.push(block_td_uid_54_590ffa286a723);
                </script>
                <div class=td-block-title-wrap>
                    <h4 class=block-title><span class=td-pulldown-size>HEALTH &amp; FITNESS</span></h4>
                </div>
                <div id=td_uid_54_590ffa286a723 class="td_block_inner td-column-1">
                    <div class="td_module_mx1 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-food-health-star-ratings-kelloggs-reveals-the-cereal-that-gets-1-5-stars/" rel=bookmark title="Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5 stars"><img width=356 height=220 class=entry-thumb src="/assets/wp-content/uploads/2015/04/64-356x220.jpg" alt="" title="Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5 stars" /></a>
                        </div>
                        <div class=td-module-meta-info>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-food-health-star-ratings-kelloggs-reveals-the-cereal-that-gets-1-5-stars/" rel=bookmark title="Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5 stars">Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5 stars</a>
                            </h3>
                            <div class=td-editor-date>
                                <span class=td-author-date>
                                    <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:41+00:00">Apr 22, 2015</time></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="td_module_mx2 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-the-secret-to-living-200-years-just-ask-a-whale/" rel=bookmark title="The Secret To Living 200 Years? Just Ask A Whale"><img width=80 height=60 class=entry-thumb src="/assets/wp-content/uploads/2015/04/62-80x60.jpg" alt="" title="The Secret To Living 200 Years? Just Ask A Whale" /></a>
                        </div>
                        <div class=item-details>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-the-secret-to-living-200-years-just-ask-a-whale/" rel=bookmark title="The Secret To Living 200 Years? Just Ask A Whale">The Secret To Living 200 Years? Just Ask A Whale</a>
                            </h3>
                            <div class=td-module-meta-info>
                                <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:40+00:00">Apr 22, 2015</time></span>
                            </div>
                        </div>
                    </div>
                    <div class="td_module_mx2 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-the-dangers-of-eating-too-much-restaurant-food/" rel=bookmark title="The dangers of eating too much restaurant food"><img width=80 height=60 class=entry-thumb src="/assets/wp-content/uploads/2015/04/60-80x60.jpg" alt="" title="The dangers of eating too much restaurant food" /></a>
                        </div>
                        <div class=item-details>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-the-dangers-of-eating-too-much-restaurant-food/" rel=bookmark title="The dangers of eating too much restaurant food">The dangers of eating too much restaurant food</a>
                            </h3>
                            <div class=td-module-meta-info>
                                <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:39+00:00">Apr 22, 2015</time></span>
                            </div>
                        </div>
                    </div>
                    <div class="td_module_mx2 td_module_wrap td-animation-stack">
                        <div class=td-module-thumb>
                            <a href="https://demo.tagdiv.com/newspaper/td-post-10-superfoods-that-lower-cholesterol/" rel=bookmark title="10 Superfoods That Lower Cholesterol"><img width=80 height=60 class=entry-thumb src="/assets/wp-content/uploads/2015/04/61-80x60.jpg" alt="" title="10 Superfoods That Lower Cholesterol" /></a>
                        </div>
                        <div class=item-details>
                            <h3 class="entry-title td-module-title">
                                <a href="https://demo.tagdiv.com/newspaper/td-post-10-superfoods-that-lower-cholesterol/" rel=bookmark title="10 Superfoods That Lower Cholesterol">10 Superfoods That Lower Cholesterol</a>
                            </h3>
                            <div class=td-module-meta-info>
                                <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-03-22T05:45:40+00:00">Mar 22, 2015</time></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>