<div class="td_block_wrap td_block_trending_now td_uid_16_590ffa285b44d_rand td-pb-border-top td_block_template_1" data-td-block-uid=td_uid_16_590ffa285b44d>
    <div class=td_block_inner>
        <div class=td-block-row>
            <div class=td-trending-now-wrapper id=td_uid_16_590ffa285b44d data-start="">
                <div class=td-trending-now-title>Trending Now</div>
                <div class=td-trending-now-display-area>
                    <div class="td_module_trending_now td-trending-now-post-0 td-trending-now-post">
                        <h3 class="entry-title td-module-title">
                            <a href="https://demo.tagdiv.com/newspaper/td-post-womens-tennis-falls-short-of-ivy-title-in-weekend-split/" rel=bookmark title="Women&#8217;s tennis falls short of Ivy title in weekend split">Women&#8217;s tennis falls short of Ivy title in weekend split</a>
                        </h3>
                    </div>
                    <div class="td_module_trending_now td-trending-now-post-1 td-trending-now-post">
                        <h3 class="entry-title td-module-title">
                            <a href="https://demo.tagdiv.com/newspaper/awards-of-the-best-and-worst-moments-from-the-show/" rel=bookmark title="Awards of the Best and Worst Moments From the Show">Awards of the Best and Worst Moments From the Show</a>
                        </h3>
                    </div>
                    <div class="td_module_trending_now td-trending-now-post-2 td-trending-now-post">
                        <h3 class="entry-title td-module-title">
                            <a href="https://demo.tagdiv.com/newspaper/td-post-the-top-10-tech-events-in-toronto-for-spring-2016/" rel=bookmark title="The top 10 tech events in Toronto for spring 2016">The top 10 tech events in Toronto for spring 2016</a>
                        </h3>
                    </div>
                    <div class="td_module_trending_now td-trending-now-post-3 td-trending-now-post">
                        <h3 class="entry-title td-module-title">
                            <a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/" rel=bookmark title="Whitewater Rafting Day Trip from New York in the East">Whitewater Rafting Day Trip from New York in the East</a>
                        </h3>
                    </div>
                    <div class="td_module_trending_now td-trending-now-post-4 td-trending-now-post">
                        <h3 class="entry-title td-module-title">
                            <a href="https://demo.tagdiv.com/newspaper/td-post-seeking-business-cuomo-heads-to-cuba-with-a-new-york-trade-delegation/" rel=bookmark title="Seeking Business, Cuomo Heads to Cuba With a New York Trade Delegation">Seeking Business, Cuomo Heads to Cuba With a New York Trade Delegation</a>
                        </h3>
                    </div>
                </div>
                <div class=td-next-prev-wrap>
                    <a href="index.html#" class="td_ajax-prev-pagex td-trending-now-nav-left" data-block-id=td_uid_16_590ffa285b44d data-moving=left data-control-start=""><i class=td-icon-menu-left></i></a><a href="index.html#" class="td_ajax-next-pagex td-trending-now-nav-right" data-block-id=td_uid_16_590ffa285b44d data-moving=right data-control-start=""><i class=td-icon-menu-right></i></a>
                </div>
            </div>
        </div>
    </div>
</div>