<div class="td_block_wrap td_block_2 td_uid_32_590ffa285f67b_rand td_with_ajax_pagination td-pb-border-top td_block_template_1 td-column-2 td_block_padding" data-td-block-uid=td_uid_32_590ffa285f67b>
    <style>
        body .td_uid_32_590ffa285f67b_rand .td_module_wrap:hover .entry-title a, body .td_uid_32_590ffa285f67b_rand .td-pulldown-filter-link:hover, body .td_uid_32_590ffa285f67b_rand .td-subcat-item a:hover, body .td_uid_32_590ffa285f67b_rand .td-subcat-item .td-cur-simple-item, body .td_uid_32_590ffa285f67b_rand .td_quote_on_blocks, body .td_uid_32_590ffa285f67b_rand .td-opacity-cat .td-post-category:hover, body .td_uid_32_590ffa285f67b_rand .td-opacity-read .td-read-more a:hover, body .td_uid_32_590ffa285f67b_rand .td-opacity-author .td-post-author-name a:hover, body .td_uid_32_590ffa285f67b_rand .td-instagram-user a {
            color: #4caf50;
        }

        body .td_uid_32_590ffa285f67b_rand .td-next-prev-wrap a:hover, body .td_uid_32_590ffa285f67b_rand .td-load-more-wrap a:hover {
            background-color: #4caf50;
            border-color: #4caf50;
        }

        body .td_uid_32_590ffa285f67b_rand .block-title > *, body .td_uid_32_590ffa285f67b_rand .td-trending-now-title, body .td_uid_32_590ffa285f67b_rand .td-read-more a, body .td_uid_32_590ffa285f67b_rand .td-weather-information:before, body .td_uid_32_590ffa285f67b_rand .td-weather-week:before, body .td_uid_32_590ffa285f67b_rand .td-subcat-dropdown:hover .td-subcat-more, body .td_uid_32_590ffa285f67b_rand .td-exchange-header:before, body .td-footer-wrapper .td_uid_32_590ffa285f67b_rand .td-post-category, body .td_uid_32_590ffa285f67b_rand .td-post-category:hover {
            background-color: #4caf50;
        }

        body .td-footer-wrapper .td_uid_32_590ffa285f67b_rand .block-title > * {
            padding: 6px 7px 5px;
            line-height: 1;
        }

        body .td_uid_32_590ffa285f67b_rand .block-title {
            border-color: #4caf50;
        }
    </style>
    <script>
                                        var block_td_uid_32_590ffa285f67b = new tdBlock();
                                        block_td_uid_32_590ffa285f67b.id = "td_uid_32_590ffa285f67b";
                                        block_td_uid_32_590ffa285f67b.atts = '{"limit":"6","sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"16","category_ids":"16, -2","custom_title":"LIFESTYLE NEWS","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"next_prev","header_color":"#4caf50","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":2,"td_ajax_preloading":"","td_ajax_filter_type":"td_category_ids_filter","td_ajax_filter_ids":"17, 18, 19, 20","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_32_590ffa285f67b_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_32_590ffa285f67b_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                        block_td_uid_32_590ffa285f67b.td_column_number = "2";
                                        block_td_uid_32_590ffa285f67b.block_type = "td_block_2";
                                        block_td_uid_32_590ffa285f67b.post_count = "6";
                                        block_td_uid_32_590ffa285f67b.found_posts = "28";
                                        block_td_uid_32_590ffa285f67b.header_color = "#4caf50";
                                        block_td_uid_32_590ffa285f67b.ajax_pagination_infinite_stop = "";
                                        block_td_uid_32_590ffa285f67b.max_num_pages = "5";
                                        tdBlocksArray.push(block_td_uid_32_590ffa285f67b);
    </script>
    <div class=td-block-title-wrap><h4 class=block-title><span class=td-pulldown-size>LIFESTYLE NEWS</span></h4><div class="td-pulldown-syle-default td-subcat-filter" id=td_pulldown_td_uid_32_590ffa285f67b><ul class=td-subcat-list id=td_pulldown_td_uid_32_590ffa285f67b_list><li class=td-subcat-item><a class=td-subcat-link id=td_uid_33_590ffa285feaa data-td_filter_value="" data-td_block_id=td_uid_32_590ffa285f67b href="index.html#">All</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_34_590ffa285fee1 data-td_filter_value=17 data-td_block_id=td_uid_32_590ffa285f67b href="index.html#">Travel</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_35_590ffa285ff17 data-td_filter_value=18 data-td_block_id=td_uid_32_590ffa285f67b href="index.html#">Recipes</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_36_590ffa285ff4c data-td_filter_value=19 data-td_block_id=td_uid_32_590ffa285f67b href="index.html#">Health &amp; Fitness</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_37_590ffa285ff82 data-td_filter_value=20 data-td_block_id=td_uid_32_590ffa285f67b href="index.html#">Business</a></li></ul><div class=td-subcat-dropdown><div class=td-subcat-more aria-haspopup=true><span>More</span><i class=td-icon-read-down></i></div><ul class=td-pulldown-filter-list></ul></div></div></div><div id=td_uid_32_590ffa285f67b class=td_block_inner>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_2 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/" rel=bookmark title="Whitewater Rafting Day Trip from New York in the East"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/green-house-324x160.jpg" alt="" title="Whitewater Rafting Day Trip from New York in the East" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-business/" class=td-post-category>Business</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/" rel=bookmark title="Whitewater Rafting Day Trip from New York in the East">Whitewater Rafting Day Trip from New York in the East</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:44+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/#respond">0</a></div>
                    </div>
                    <div class=td-excerpt>
                        Whitewater Rafting Day Trip from NYC
                        Meet at West 45th Street and 11th Avenue and board the bus for world-renowned Hunter Mountain. Many...
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_2 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/" rel=bookmark title="Five things you may have missed over the weekend from the world of business"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/green-324x160.jpg" alt="" title="Five things you may have missed over the weekend from the world of business" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-business/" class=td-post-category>Business</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/" rel=bookmark title="Five things you may have missed over the weekend from the world of business">Five things you may have missed over the weekend from the...</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:43+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/#respond">0</a></div>
                    </div>
                    <div class=td-excerpt>
                        The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot...
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-express-recipes-how-to-make-creamy-papaya-raita/" rel=bookmark title="Express Recipes: How to make Creamy Papaya Raita"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/green-girl-100x70.jpg" alt="" title="Express Recipes: How to make Creamy Papaya Raita" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-express-recipes-how-to-make-creamy-papaya-raita/" rel=bookmark title="Express Recipes: How to make Creamy Papaya Raita">Express Recipes: How to make Creamy Papaya Raita</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:33+00:00">Apr 22, 2015</time></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-400k-for-whisky-most-expensive-foods-and-drink-auctioned/" rel=bookmark title="400k for whisky? Most expensive foods and drink auctioned"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/65-100x70.jpg" alt="" title="400k for whisky? Most expensive foods and drink auctioned" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-400k-for-whisky-most-expensive-foods-and-drink-auctioned/" rel=bookmark title="400k for whisky? Most expensive foods and drink auctioned">400k for whisky? Most expensive foods and drink auctioned</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:42+00:00">Apr 22, 2015</time></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-seeking-business-cuomo-heads-to-cuba-with-a-new-york-trade-delegation/" rel=bookmark title="Seeking Business, Cuomo Heads to Cuba With a New York Trade Delegation"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/66-100x70.jpg" alt="" title="Seeking Business, Cuomo Heads to Cuba With a New York Trade Delegation" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-seeking-business-cuomo-heads-to-cuba-with-a-new-york-trade-delegation/" rel=bookmark title="Seeking Business, Cuomo Heads to Cuba With a New York Trade Delegation">Seeking Business, Cuomo Heads to Cuba With a New York Trade...</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:42+00:00">Apr 22, 2015</time></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-food-health-star-ratings-kelloggs-reveals-the-cereal-that-gets-1-5-stars/" rel=bookmark title="Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5 stars"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/64-100x70.jpg" alt="" title="Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5 stars" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-food-health-star-ratings-kelloggs-reveals-the-cereal-that-gets-1-5-stars/" rel=bookmark title="Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5 stars">Food health star ratings: Kellogg&#8217;s reveals the cereal that gets 1.5...</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:41+00:00">Apr 22, 2015</time></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class=td-next-prev-wrap><a href="index.html#" class="td-ajax-prev-page ajax-page-disabled" id=prev-page-td_uid_32_590ffa285f67b data-td_block_id=td_uid_32_590ffa285f67b><i class="td-icon-font td-icon-menu-left"></i></a><a href="index.html#" class=td-ajax-next-page id=next-page-td_uid_32_590ffa285f67b data-td_block_id=td_uid_32_590ffa285f67b><i class="td-icon-font td-icon-menu-right"></i></a></div>
</div>