<div class="td_block_wrap td_block_6 td_uid_51_590ffa2867f59_rand td-pb-border-top td_block_template_1 td-column-1 td_block_padding td_block_bot_line" data-td-block-uid=td_uid_51_590ffa2867f59>
    <style>
        body .td_uid_51_590ffa2867f59_rand .td_module_wrap:hover .entry-title a, body .td_uid_51_590ffa2867f59_rand .td-pulldown-filter-link:hover, body .td_uid_51_590ffa2867f59_rand .td-subcat-item a:hover, body .td_uid_51_590ffa2867f59_rand .td-subcat-item .td-cur-simple-item, body .td_uid_51_590ffa2867f59_rand .td_quote_on_blocks, body .td_uid_51_590ffa2867f59_rand .td-opacity-cat .td-post-category:hover, body .td_uid_51_590ffa2867f59_rand .td-opacity-read .td-read-more a:hover, body .td_uid_51_590ffa2867f59_rand .td-opacity-author .td-post-author-name a:hover, body .td_uid_51_590ffa2867f59_rand .td-instagram-user a {
            color: #ff7500;
        }

        body .td_uid_51_590ffa2867f59_rand .td-next-prev-wrap a:hover, body .td_uid_51_590ffa2867f59_rand .td-load-more-wrap a:hover {
            background-color: #ff7500;
            border-color: #ff7500;
        }

        body .td_uid_51_590ffa2867f59_rand .block-title > *, body .td_uid_51_590ffa2867f59_rand .td-trending-now-title, body .td_uid_51_590ffa2867f59_rand .td-read-more a, body .td_uid_51_590ffa2867f59_rand .td-weather-information:before, body .td_uid_51_590ffa2867f59_rand .td-weather-week:before, body .td_uid_51_590ffa2867f59_rand .td-subcat-dropdown:hover .td-subcat-more, body .td_uid_51_590ffa2867f59_rand .td-exchange-header:before, body .td-footer-wrapper .td_uid_51_590ffa2867f59_rand .td-post-category, body .td_uid_51_590ffa2867f59_rand .td-post-category:hover {
            background-color: #ff7500;
        }

        body .td-footer-wrapper .td_uid_51_590ffa2867f59_rand .block-title > * {
            padding: 6px 7px 5px;
            line-height: 1;
        }

        body .td_uid_51_590ffa2867f59_rand .block-title {
            border-color: #ff7500;
        }
    </style>
    <script>
                                    var block_td_uid_51_590ffa2867f59 = new tdBlock();
                                    block_td_uid_51_590ffa2867f59.id = "td_uid_51_590ffa2867f59";
                                    block_td_uid_51_590ffa2867f59.atts = '{"limit":"1","sort":"","post_ids":"","tag_slug":"recipe","autors_id":"","installed_post_types":"","category_id":"18","category_ids":"","custom_title":"HOLIDAY RECIPES","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"","header_color":"#ff7500","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":1,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_51_590ffa2867f59_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_51_590ffa2867f59_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}';
                                    block_td_uid_51_590ffa2867f59.td_column_number = "1";
                                    block_td_uid_51_590ffa2867f59.block_type = "td_block_6";
                                    block_td_uid_51_590ffa2867f59.post_count = "1";
                                    block_td_uid_51_590ffa2867f59.found_posts = "1";
                                    block_td_uid_51_590ffa2867f59.header_color = "#ff7500";
                                    block_td_uid_51_590ffa2867f59.ajax_pagination_infinite_stop = "";
                                    block_td_uid_51_590ffa2867f59.max_num_pages = "1";
                                    tdBlocksArray.push(block_td_uid_51_590ffa2867f59);
    </script>
    <div class=td-block-title-wrap>
        <h4 class=block-title><span class=td-pulldown-size>HOLIDAY RECIPES</span></h4>
    </div>
    <div id=td_uid_51_590ffa2867f59 class=td_block_inner>
        <div class=td-block-span12>
            <div class="td_module_5 td_module_wrap td-animation-stack">
                <h3 class="entry-title td-module-title">
                    <a href="https://demo.tagdiv.com/newspaper/td-post-pasta-with-caramelised-onions-and-yogurt-recipe/" rel=bookmark title="Pasta with caramelised onions and yogurt recipe">Pasta with caramelised onions and yogurt recipe</a>
                </h3>
                <div class=td-module-meta-info>
                    <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-03-22T05:27:37+00:00">Mar 22, 2015</time></span> <div class=td-module-comments>
                        <a href="https://demo.tagdiv.com/newspaper/td-post-pasta-with-caramelised-onions-and-yogurt-recipe/#comments">1</a>
                    </div>
                </div>
                <div class=td-module-image>
                    <div class=td-module-thumb>
                        <a href="https://demo.tagdiv.com/newspaper/td-post-pasta-with-caramelised-onions-and-yogurt-recipe/" rel=bookmark title="Pasta with caramelised onions and yogurt recipe"><img width=324 height=235 class=entry-thumb src="/assets/wp-content/uploads/2015/03/juice-324x235.jpg" alt="" title="Pasta with caramelised onions and yogurt recipe" /></a>
                    </div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-recipes/" class=td-post-category>Recipes</a>
                </div>
                <div class=td-excerpt>
                    The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot by Lachian...
                </div>
                <div class=td_quote_on_blocks>How to mix the perfect juice</div>
            </div>
        </div>
    </div>
</div>