<div class="td_block_wrap td_block_15 td_uid_38_590ffa2861081_rand td_with_ajax_pagination td-pb-border-top td_block_template_1 td-column-2 td_block_padding" data-td-block-uid=td_uid_38_590ffa2861081>
    <style>
        body .td_uid_38_590ffa2861081_rand .td_module_wrap:hover .entry-title a, body .td_uid_38_590ffa2861081_rand .td-pulldown-filter-link:hover, body .td_uid_38_590ffa2861081_rand .td-subcat-item a:hover, body .td_uid_38_590ffa2861081_rand .td-subcat-item .td-cur-simple-item, body .td_uid_38_590ffa2861081_rand .td_quote_on_blocks, body .td_uid_38_590ffa2861081_rand .td-opacity-cat .td-post-category:hover, body .td_uid_38_590ffa2861081_rand .td-opacity-read .td-read-more a:hover, body .td_uid_38_590ffa2861081_rand .td-opacity-author .td-post-author-name a:hover, body .td_uid_38_590ffa2861081_rand .td-instagram-user a {
            color: #607d8b;
        }

        body .td_uid_38_590ffa2861081_rand .td-next-prev-wrap a:hover, body .td_uid_38_590ffa2861081_rand .td-load-more-wrap a:hover {
            background-color: #607d8b;
            border-color: #607d8b;
        }

        body .td_uid_38_590ffa2861081_rand .block-title > *, body .td_uid_38_590ffa2861081_rand .td-trending-now-title, body .td_uid_38_590ffa2861081_rand .td-read-more a, body .td_uid_38_590ffa2861081_rand .td-weather-information:before, body .td_uid_38_590ffa2861081_rand .td-weather-week:before, body .td_uid_38_590ffa2861081_rand .td-subcat-dropdown:hover .td-subcat-more, body .td_uid_38_590ffa2861081_rand .td-exchange-header:before, body .td-footer-wrapper .td_uid_38_590ffa2861081_rand .td-post-category, body .td_uid_38_590ffa2861081_rand .td-post-category:hover {
            background-color: #607d8b;
        }

        body .td-footer-wrapper .td_uid_38_590ffa2861081_rand .block-title > * {
            padding: 6px 7px 5px;
            line-height: 1;
        }

        body .td_uid_38_590ffa2861081_rand .block-title {
            border-color: #607d8b;
        }
    </style>
    <script>var block_td_uid_38_590ffa2861081 = new tdBlock(); block_td_uid_38_590ffa2861081.id = "td_uid_38_590ffa2861081"; block_td_uid_38_590ffa2861081.atts = '{"limit":"3","sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"25","category_ids":"","custom_title":"HOUSE DESIGN","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"next_prev","header_color":"#607d8b","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":2,"td_ajax_preloading":"","td_ajax_filter_type":"","td_ajax_filter_ids":"","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_38_590ffa2861081_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_38_590ffa2861081_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}'; block_td_uid_38_590ffa2861081.td_column_number = "2"; block_td_uid_38_590ffa2861081.block_type = "td_block_15"; block_td_uid_38_590ffa2861081.post_count = "3"; block_td_uid_38_590ffa2861081.found_posts = "34"; block_td_uid_38_590ffa2861081.header_color = "#607d8b"; block_td_uid_38_590ffa2861081.ajax_pagination_infinite_stop = ""; block_td_uid_38_590ffa2861081.max_num_pages = "12"; tdBlocksArray.push(block_td_uid_38_590ffa2861081);</script><div class=td-block-title-wrap><h4 class=block-title><span class=td-pulldown-size>HOUSE DESIGN</span></h4></div><div id=td_uid_38_590ffa2861081 class="td_block_inner td-column-2">
        <div class=td-block-row>
            <div class=td-block-span4>
                <div class="td_module_mx4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-patricia-urquiola-coats-transparent-furniture-for-glas-italia-with-an-iridescent-sheen/" rel=bookmark title="Patricia Urquiola transparent furniture for Glas Italia with iridescent"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/119-218x150.jpg" alt="" title="Patricia Urquiola transparent furniture for Glas Italia with iridescent" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-interiors/" class=td-post-category>Interiors</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-patricia-urquiola-coats-transparent-furniture-for-glas-italia-with-an-iridescent-sheen/" rel=bookmark title="Patricia Urquiola transparent furniture for Glas Italia with iridescent">Patricia Urquiola transparent furniture for Glas Italia with iridescent</a></h3>
                </div>
            </div>
            <div class=td-block-span4>
                <div class="td_module_mx4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-denton-corker-marshall-the-mysterious-black-box-is-biennale-pavilion/" rel=bookmark title="Denton Corker Marshall the mysterious black box is biennale pavilion"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/115-218x150.jpg" alt="" title="Denton Corker Marshall the mysterious black box is biennale pavilion" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-architecture/" class=td-post-category>Architecture</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-denton-corker-marshall-the-mysterious-black-box-is-biennale-pavilion/" rel=bookmark title="Denton Corker Marshall the mysterious black box is biennale pavilion">Denton Corker Marshall the mysterious black box is biennale pavilion</a></h3>
                </div>
            </div>
            <div class=td-block-span4>
                <div class="td_module_mx4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-man-agrees-to-complete-50000-hereford-inlet-lighthouse-paint-job/" rel=bookmark title="Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job"><img width=218 height=150 class=entry-thumb src="/assets/wp-content/uploads/2015/04/107-218x150.jpg" alt="" title="Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-architecture/" class=td-post-category>Architecture</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-man-agrees-to-complete-50000-hereford-inlet-lighthouse-paint-job/" rel=bookmark title="Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job">Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job</a></h3>
                </div>
            </div>
        </div>
    </div><div class=td-next-prev-wrap><a href="index.html#" class="td-ajax-prev-page ajax-page-disabled" id=prev-page-td_uid_38_590ffa2861081 data-td_block_id=td_uid_38_590ffa2861081><i class="td-icon-font td-icon-menu-left"></i></a><a href="index.html#" class=td-ajax-next-page id=next-page-td_uid_38_590ffa2861081 data-td_block_id=td_uid_38_590ffa2861081><i class="td-icon-font td-icon-menu-right"></i></a></div>
</div>