<div class="td-pb-span8 td-main-content" role=main>
    <div class="td-ss-main-content td_block_template_1">
        <div class=td-block-title-wrap><h4 class=block-title><span class=td-pulldown-size>LATEST ARTICLES</span></h4></div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-amazons-apple-watch-killer-will-be-free-and-sell-you-everything/" rel=bookmark title="Amazon&#8217;s Apple Watch killer will be free and sell you everything"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/headphones-324x160.jpg" alt="" title="Amazon&#8217;s Apple Watch killer will be free and sell you everything" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-technology/" class=td-post-category>Technology</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-amazons-apple-watch-killer-will-be-free-and-sell-you-everything/" rel=bookmark title="Amazon&#8217;s Apple Watch killer will be free and sell you everything">Amazon&#8217;s Apple Watch killer will be free and sell you everything</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius/">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-24T05:44:22+00:00">Apr 24, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-amazons-apple-watch-killer-will-be-free-and-sell-you-everything/#respond">0</a></div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-microsoft-subsumes-open-tech-unit-back-inside-mothership/" rel=bookmark title="Microsoft Subsumes Open Tech Unit Back Inside Mothership"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/tee-324x160.jpg" alt="" title="Microsoft Subsumes Open Tech Unit Back Inside Mothership" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-technology/tagdiv-gadgets/" class=td-post-category>Gadgets</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-microsoft-subsumes-open-tech-unit-back-inside-mothership/" rel=bookmark title="Microsoft Subsumes Open Tech Unit Back Inside Mothership">Microsoft Subsumes Open Tech Unit Back Inside Mothership</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-24T05:23:25+00:00">Apr 24, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-microsoft-subsumes-open-tech-unit-back-inside-mothership/#respond">0</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/" rel=bookmark title="Whitewater Rafting Day Trip from New York in the East"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/green-house-324x160.jpg" alt="" title="Whitewater Rafting Day Trip from New York in the East" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-business/" class=td-post-category>Business</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/" rel=bookmark title="Whitewater Rafting Day Trip from New York in the East">Whitewater Rafting Day Trip from New York in the East</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:44+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/whitewater-rafting-day-trip-new-york-east/#respond">0</a></div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/" rel=bookmark title="Five things you may have missed over the weekend from the world of business"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/green-324x160.jpg" alt="" title="Five things you may have missed over the weekend from the world of business" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/tagdiv-business/" class=td-post-category>Business</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/" rel=bookmark title="Five things you may have missed over the weekend from the world of business">Five things you may have missed over the weekend from the...</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:43+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-five-things-you-may-have-missed-over-the-weekend-from-the-world-of-business/#respond">0</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-express-recipes-how-to-make-creamy-papaya-raita/" rel=bookmark title="Express Recipes: How to make Creamy Papaya Raita"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/green-girl-324x160.jpg" alt="" title="Express Recipes: How to make Creamy Papaya Raita" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-lifestyle/" class=td-post-category>Lifestyle</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-express-recipes-how-to-make-creamy-papaya-raita/" rel=bookmark title="Express Recipes: How to make Creamy Papaya Raita">Express Recipes: How to make Creamy Papaya Raita</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius/">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T06:23:33+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-express-recipes-how-to-make-creamy-papaya-raita/#respond">0</a></div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-kerala-india-they-call-it-own-country-for-nothing/" rel=bookmark title="Kerala, India: They call it Own Country for nothing"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/1-324x160.jpg" alt="" title="Kerala, India: They call it Own Country for nothing" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/" class=td-post-category>Fashion</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-kerala-india-they-call-it-own-country-for-nothing/" rel=bookmark title="Kerala, India: They call it Own Country for nothing">Kerala, India: They call it Own Country for nothing</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:48:10+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-kerala-india-they-call-it-own-country-for-nothing/#respond">0</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-designer-fashion-show-kicks-off-variety-week/" rel=bookmark title="Designer fashion show kicks off Variety Week"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/12-324x160.jpg" alt="" title="Designer fashion show kicks off Variety Week" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/tagdiv-new-look-2015/" class=td-post-category>New look 2017</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-designer-fashion-show-kicks-off-variety-week/" rel=bookmark title="Designer fashion show kicks off Variety Week">Designer fashion show kicks off Variety Week</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:46:15+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-designer-fashion-show-kicks-off-variety-week/#respond">0</a></div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-springfest-one-fashion-show-at-the-university-of-michigan/" rel=bookmark title="SpringFest One Fashion Show at the University of Michigan"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/9-324x160.jpg" alt="" title="SpringFest One Fashion Show at the University of Michigan" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-fashion/tagdiv-new-look-2015/" class=td-post-category>New look 2017</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-springfest-one-fashion-show-at-the-university-of-michigan/" rel=bookmark title="SpringFest One Fashion Show at the University of Michigan">SpringFest One Fashion Show at the University of Michigan</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/admin/">Armin Vans</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:40:14+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-springfest-one-fashion-show-at-the-university-of-michigan/#respond">0</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-patricia-urquiola-coats-transparent-furniture-for-glas-italia-with-an-iridescent-sheen/" rel=bookmark title="Patricia Urquiola transparent furniture for Glas Italia with iridescent"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/119-324x160.jpg" alt="" title="Patricia Urquiola transparent furniture for Glas Italia with iridescent" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-interiors/" class=td-post-category>Interiors</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-patricia-urquiola-coats-transparent-furniture-for-glas-italia-with-an-iridescent-sheen/" rel=bookmark title="Patricia Urquiola transparent furniture for Glas Italia with iridescent">Patricia Urquiola transparent furniture for Glas Italia with iridescent</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius/">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:28:10+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-patricia-urquiola-coats-transparent-furniture-for-glas-italia-with-an-iridescent-sheen/#respond">0</a></div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-denton-corker-marshall-the-mysterious-black-box-is-biennale-pavilion/" rel=bookmark title="Denton Corker Marshall the mysterious black box is biennale pavilion"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/115-324x160.jpg" alt="" title="Denton Corker Marshall the mysterious black box is biennale pavilion" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-architecture/" class=td-post-category>Architecture</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-denton-corker-marshall-the-mysterious-black-box-is-biennale-pavilion/" rel=bookmark title="Denton Corker Marshall the mysterious black box is biennale pavilion">Denton Corker Marshall the mysterious black box is biennale pavilion</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius/">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:27:08+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-denton-corker-marshall-the-mysterious-black-box-is-biennale-pavilion/#respond">0</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-man-agrees-to-complete-50000-hereford-inlet-lighthouse-paint-job/" rel=bookmark title="Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/107-324x160.jpg" alt="" title="Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-design/tagdiv-architecture/" class=td-post-category>Architecture</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-man-agrees-to-complete-50000-hereford-inlet-lighthouse-paint-job/" rel=bookmark title="Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job">Man agrees to complete $5,000 Hereford Inlet Lighthouse painting job</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:27:04+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-man-agrees-to-complete-50000-hereford-inlet-lighthouse-paint-job/#respond">0</a></div>
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_1 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-five-reasons-why-in-form-leicester-city-will-finish-the-job-and-stay-up/" rel=bookmark title="Five reasons why in-form Leicester City will finish the job and stay up"><img width=324 height=160 class=entry-thumb src="/assets/wp-content/uploads/2015/04/95-324x160.jpg" alt="" title="Five reasons why in-form Leicester City will finish the job and stay up" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-wrc-racing/" class=td-post-category>WRC Racing</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-five-reasons-why-in-form-leicester-city-will-finish-the-job-and-stay-up/" rel=bookmark title="Five reasons why in-form Leicester City will finish the job and stay up">Five reasons why in-form Leicester City will finish the job and...</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius2/">Matt Cloey</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:26:58+00:00">Apr 22, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-five-reasons-why-in-form-leicester-city-will-finish-the-job-and-stay-up/#comments">1</a></div>
                    </div>
                </div>
            </div>
        </div><div class="page-nav td-pb-padding-side"><span class=current>1</span><a href="https://demo.tagdiv.com/newspaper/page/2/" class=page title=2>2</a><a href="https://demo.tagdiv.com/newspaper/page/3/" class=page title=3>3</a><span class=extend>...</span><a href="https://demo.tagdiv.com/newspaper/page/12/" class=last title=12>12</a><a href="https://demo.tagdiv.com/newspaper/page/2/"><i class=td-icon-menu-right></i></a><span class=pages>Page 1 of 12</span><div class=clearfix></div></div>
    </div>
</div>