<div class="td_block_wrap td_block_1 td_uid_39_590ffa2861f8a_rand td_with_ajax_pagination td-pb-border-top td_block_template_1 td-column-2" data-td-block-uid=td_uid_39_590ffa2861f8a>
    <style>
        body .td_uid_39_590ffa2861f8a_rand .td_module_wrap:hover .entry-title a, body .td_uid_39_590ffa2861f8a_rand .td-pulldown-filter-link:hover, body .td_uid_39_590ffa2861f8a_rand .td-subcat-item a:hover, body .td_uid_39_590ffa2861f8a_rand .td-subcat-item .td-cur-simple-item, body .td_uid_39_590ffa2861f8a_rand .td_quote_on_blocks, body .td_uid_39_590ffa2861f8a_rand .td-opacity-cat .td-post-category:hover, body .td_uid_39_590ffa2861f8a_rand .td-opacity-read .td-read-more a:hover, body .td_uid_39_590ffa2861f8a_rand .td-opacity-author .td-post-author-name a:hover, body .td_uid_39_590ffa2861f8a_rand .td-instagram-user a {
            color: #f44336;
        }

        body .td_uid_39_590ffa2861f8a_rand .td-next-prev-wrap a:hover, body .td_uid_39_590ffa2861f8a_rand .td-load-more-wrap a:hover {
            background-color: #f44336;
            border-color: #f44336;
        }

        body .td_uid_39_590ffa2861f8a_rand .block-title > *, body .td_uid_39_590ffa2861f8a_rand .td-trending-now-title, body .td_uid_39_590ffa2861f8a_rand .td-read-more a, body .td_uid_39_590ffa2861f8a_rand .td-weather-information:before, body .td_uid_39_590ffa2861f8a_rand .td-weather-week:before, body .td_uid_39_590ffa2861f8a_rand .td-subcat-dropdown:hover .td-subcat-more, body .td_uid_39_590ffa2861f8a_rand .td-exchange-header:before, body .td-footer-wrapper .td_uid_39_590ffa2861f8a_rand .td-post-category, body .td_uid_39_590ffa2861f8a_rand .td-post-category:hover {
            background-color: #f44336;
        }

        body .td-footer-wrapper .td_uid_39_590ffa2861f8a_rand .block-title > * {
            padding: 6px 7px 5px;
            line-height: 1;
        }

        body .td_uid_39_590ffa2861f8a_rand .block-title {
            border-color: #f44336;
        }
    </style>
    <script>var block_td_uid_39_590ffa2861f8a = new tdBlock(); block_td_uid_39_590ffa2861f8a.id = "td_uid_39_590ffa2861f8a"; block_td_uid_39_590ffa2861f8a.atts = '{"limit":5,"sort":"","post_ids":"","tag_slug":"","autors_id":"","installed_post_types":"","category_id":"11","category_ids":"","custom_title":"TECH AND GADGETS","custom_url":"","show_child_cat":"","sub_cat_ajax":"","ajax_pagination":"next_prev","header_color":"#f44336","header_text_color":"","ajax_pagination_infinite_stop":"","td_column_number":2,"td_ajax_preloading":"","td_ajax_filter_type":"td_category_ids_filter","td_ajax_filter_ids":"13, 14, 15, 12","td_filter_default_txt":"All","color_preset":"","border_top":"","class":"td_uid_39_590ffa2861f8a_rand","el_class":"","offset":"","css":"","tdc_css":"","tdc_css_class":"td_uid_39_590ffa2861f8a_rand","live_filter":"","live_filter_cur_post_id":"","live_filter_cur_post_author":"","block_template_id":""}'; block_td_uid_39_590ffa2861f8a.td_column_number = "2"; block_td_uid_39_590ffa2861f8a.block_type = "td_block_1"; block_td_uid_39_590ffa2861f8a.post_count = "5"; block_td_uid_39_590ffa2861f8a.found_posts = "33"; block_td_uid_39_590ffa2861f8a.header_color = "#f44336"; block_td_uid_39_590ffa2861f8a.ajax_pagination_infinite_stop = ""; block_td_uid_39_590ffa2861f8a.max_num_pages = "7"; tdBlocksArray.push(block_td_uid_39_590ffa2861f8a);</script><div class=td-block-title-wrap><h4 class=block-title><span class=td-pulldown-size>TECH AND GADGETS</span></h4><div class="td-pulldown-syle-default td-subcat-filter" id=td_pulldown_td_uid_39_590ffa2861f8a><ul class=td-subcat-list id=td_pulldown_td_uid_39_590ffa2861f8a_list><li class=td-subcat-item><a class=td-subcat-link id=td_uid_40_590ffa28629d6 data-td_filter_value="" data-td_block_id=td_uid_39_590ffa2861f8a href="index.html#">All</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_41_590ffa2862a0d data-td_filter_value=13 data-td_block_id=td_uid_39_590ffa2861f8a href="index.html#">Gadgets</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_42_590ffa2862a43 data-td_filter_value=14 data-td_block_id=td_uid_39_590ffa2861f8a href="index.html#">Mobile and Phones</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_43_590ffa2862a79 data-td_filter_value=15 data-td_block_id=td_uid_39_590ffa2861f8a href="index.html#">Photography</a></li><li class=td-subcat-item><a class=td-subcat-link id=td_uid_44_590ffa2862aaf data-td_filter_value=12 data-td_block_id=td_uid_39_590ffa2861f8a href="index.html#">Reviews</a></li></ul><div class=td-subcat-dropdown><div class=td-subcat-more aria-haspopup=true><span>More</span><i class=td-icon-read-down></i></div><ul class=td-pulldown-filter-list></ul></div></div></div><div id=td_uid_39_590ffa2861f8a class=td_block_inner>
        <div class=td-block-row>
            <div class=td-block-span6>
                <div class="td_module_4 td_module_wrap td-animation-stack">
                    <div class=td-module-image>
                        <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-amazons-apple-watch-killer-will-be-free-and-sell-you-everything/" rel=bookmark title="Amazon&#8217;s Apple Watch killer will be free and sell you everything"><img width=324 height=235 class=entry-thumb src="/assets/wp-content/uploads/2015/04/headphones-324x235.jpg" alt="" title="Amazon&#8217;s Apple Watch killer will be free and sell you everything" /></a></div> <a href="https://demo.tagdiv.com/newspaper/category/tagdiv-technology/" class=td-post-category>Technology</a>
                    </div>
                    <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-amazons-apple-watch-killer-will-be-free-and-sell-you-everything/" rel=bookmark title="Amazon&#8217;s Apple Watch killer will be free and sell you everything">Amazon&#8217;s Apple Watch killer will be free and sell you everything</a></h3>
                    <div class=td-module-meta-info>
                        <span class=td-post-author-name><a href="https://demo.tagdiv.com/newspaper/author/marius/">John Doe</a> <span>-</span> </span> <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-24T05:44:22+00:00">Apr 24, 2015</time></span> <div class=td-module-comments><a href="https://demo.tagdiv.com/newspaper/td-post-amazons-apple-watch-killer-will-be-free-and-sell-you-everything/#respond">0</a></div>
                    </div>
                    <div class=td-excerpt>
                        The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot by Lachian...
                    </div>
                </div>
            </div>
            <div class=td-block-span6>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-microsoft-subsumes-open-tech-unit-back-inside-mothership/" rel=bookmark title="Microsoft Subsumes Open Tech Unit Back Inside Mothership"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/tee-100x70.jpg" alt="" title="Microsoft Subsumes Open Tech Unit Back Inside Mothership" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-microsoft-subsumes-open-tech-unit-back-inside-mothership/" rel=bookmark title="Microsoft Subsumes Open Tech Unit Back Inside Mothership">Microsoft Subsumes Open Tech Unit Back Inside Mothership</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-24T05:23:25+00:00">Apr 24, 2015</time></span>
                        </div>
                    </div>
                </div>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-why-tech-accelerators-may-soon-be-as-irrelevant-as-an-mba/" rel=bookmark title="Why tech accelerators may soon be as irrelevant as an MBA"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/singer-100x70.jpg" alt="" title="Why tech accelerators may soon be as irrelevant as an MBA" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-why-tech-accelerators-may-soon-be-as-irrelevant-as-an-mba/" rel=bookmark title="Why tech accelerators may soon be as irrelevant as an MBA">Why tech accelerators may soon be as irrelevant as an MBA</a></h3> <div class=td-module-meta-info>
                            <div class=entry-review-stars><i class=td-icon-star></i><i class=td-icon-star></i><i class=td-icon-star></i><i class=td-icon-star></i><i class=td-icon-star-empty></i></div>
                        </div>
                    </div>
                </div>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-canon-xc10-4k-digital-camcorder-is-out-compact-versatile-and-for-only-2500/" rel=bookmark title="Canon XC10 4K Digital Camcorder Is Out: Compact and Versatile"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/snickers-100x70.jpg" alt="" title="Canon XC10 4K Digital Camcorder Is Out: Compact and Versatile" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-canon-xc10-4k-digital-camcorder-is-out-compact-versatile-and-for-only-2500/" rel=bookmark title="Canon XC10 4K Digital Camcorder Is Out: Compact and Versatile">Canon XC10 4K Digital Camcorder Is Out: Compact and Versatile</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:32+00:00">Apr 22, 2015</time></span>
                        </div>
                    </div>
                </div>
                <div class="td_module_6 td_module_wrap td-animation-stack">
                    <div class=td-module-thumb><a href="https://demo.tagdiv.com/newspaper/td-post-part-gopro-dropcam-flir-fx-camera-does-sports-a-new-camera/" rel=bookmark title="Part GoPro Dropcam: Flir FX Camera Does Sports a new camera"><img width=100 height=70 class=entry-thumb src="/assets/wp-content/uploads/2015/04/43-100x70.jpg" alt="" title="Part GoPro Dropcam: Flir FX Camera Does Sports a new camera" /></a></div>
                    <div class=item-details>
                        <h3 class="entry-title td-module-title"><a href="https://demo.tagdiv.com/newspaper/td-post-part-gopro-dropcam-flir-fx-camera-does-sports-a-new-camera/" rel=bookmark title="Part GoPro Dropcam: Flir FX Camera Does Sports a new camera">Part GoPro Dropcam: Flir FX Camera Does Sports a new camera</a></h3> <div class=td-module-meta-info>
                            <span class=td-post-date><time class="entry-date updated td-module-date" datetime="2015-04-22T05:23:31+00:00">Apr 22, 2015</time></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class=td-next-prev-wrap><a href="index.html#" class="td-ajax-prev-page ajax-page-disabled" id=prev-page-td_uid_39_590ffa2861f8a data-td_block_id=td_uid_39_590ffa2861f8a><i class="td-icon-font td-icon-menu-left"></i></a><a href="index.html#" class=td-ajax-next-page id=next-page-td_uid_39_590ffa2861f8a data-td_block_id=td_uid_39_590ffa2861f8a><i class="td-icon-font td-icon-menu-right"></i></a></div>
</div>