<div class="td-footer-wrapper td-container-wrap ">
    <div class=td-container>
        <div class=td-pb-row>
            <div class=td-pb-span12>
            </div>
        </div>
        <div class=td-pb-row>
            @Html.Action("BlockFooterEditPick", "Common")
            @Html.Action("BlockFooterPopularPost", "Common")
            @Html.Action("BlockFooterPopularCategory", "Common")
        </div>
    </div>
    <div class=td-footer-bottom-full>
        <div class=td-container>
            <div class=td-pb-row>
                <div class=td-pb-span3>
                    <aside class=footer-logo-wrap>
                        <a href="index.html">
                            <img class=td-retina-data src="/assets/wp-content/uploads/2016/01/logo-white.png" data-retina="https://demo.tagdiv.com/newspaper/wp-content/uploads/2016/01/logo-white@2x.png" alt="" title="" />
                        </a>
                    </aside>
                </div>
                <div class=td-pb-span5>
                    <aside class=footer-text-wrap>
                        <div class=block-title><span>ABOUT US</span></div>
                        Newspaper is your news, entertainment, music fashion website. We provide you with the latest breaking news and videos straight from the entertainment industry.
                        <div class=footer-email-wrap>
                            Contact us: <a href="mailto:contact@yoursite.com">contact@yoursite.com</a>
                        </div>
                    </aside>
                </div>
                <div class=td-pb-span4>
                    <aside class="footer-social-wrap td-social-style-2">
                        <div class=block-title><span>FOLLOW US</span></div>
                        <span class=td-social-icon-wrap>
                            <a target=_blank href="index.html#" title=Facebook>
                                <i class="td-icon-font td-icon-facebook"></i>
                            </a>
                        </span>
                        <span class=td-social-icon-wrap>
                            <a target=_blank href="index.html#" title=Twitter>
                                <i class="td-icon-font td-icon-twitter"></i>
                            </a>
                        </span>
                        <span class=td-social-icon-wrap>
                            <a target=_blank href="index.html#" title=Vimeo>
                                <i class="td-icon-font td-icon-vimeo"></i>
                            </a>
                        </span>
                        <span class=td-social-icon-wrap>
                            <a target=_blank href="index.html#" title=VKontakte>
                                <i class="td-icon-font td-icon-vk"></i>
                            </a>
                        </span>
                        <span class=td-social-icon-wrap>
                            <a target=_blank href="index.html#" title=Youtube>
                                <i class="td-icon-font td-icon-youtube"></i>
                            </a>
                        </span>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="td-sub-footer-container td-container-wrap ">
    <div class=td-container>
        <div class=td-pb-row>
            <div class="td-pb-span td-sub-footer-menu">
                <div class=menu-footer-menu-container>
                    <ul id=menu-footer-menu class=td-subfooter-menu>
                        <li id=menu-item-16 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-first td-menu-item td-normal-menu menu-item-16"><a href="index.html#">Disclaimer</a></li>
                        <li id=menu-item-17 class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-17"><a href="index.html#">Privacy</a></li>
                        <li id=menu-item-18 class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-18"><a href="index.html#">Advertisement</a></li>
                        <li id=menu-item-19 class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-19"><a href="index.html#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="td-pb-span td-sub-footer-copy">
                &copy; Copyright 2017 - Newspaper by TagDiv
            </div>
        </div>
    </div>
</div>