<form action="http://www.google.com.vn" id="cse-search-box" class="search">
    <div>
        <input type="hidden" name="cx" value="010824731304394633500:mmbgsjilhnm" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" size="55" class="input google" />
        <input type="submit" name="sa" value="Search" style="display:none;" />
    </div>
</form>