@model List<TMV.Data.Entities.BannerInfo>

@if (Model != null && Model.Count > 0)
{

    <div class="mainSlider">

        <div class="swiper-container slider1">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <a href="@item.Url">
                            <img src="@TMV.Utilities.Globals.ImageUrlNoCDN(item.ImagePath, 1440, false)" alt="" />
                        </a>
                    </div>
                }

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
}